<div class="m-rebus">
    <div class="l-container">
        <div class="l-row">
            <div class="m-rebus__content">
                <div class="l-row">
                    <h3>Zoek het voedselvoorwerp in de rebus</h3>
                    <div class="l-col-3">
                        <img class="m-rebus__img" src="/img/whatsapp.svg">
                    </div>
                    <div class="l-col-3">
                        <img class="m-rebus__img" src="/img/whatsapp.svg">
                    </div>
                    <div class="l-col-3">
                        <img class="m-rebus__img" src="/img/whatsapp.svg">
                    </div>
                    <div class="l-col-3">
                        <img class="m-rebus__img" src="/img/whatsapp.svg">
                    </div>
                    <div class="l-col-3">
                        <img class="m-rebus__img" src="/img/whatsapp.svg">
                    </div>
                    <div class="l-col-3">
                        <img class="m-rebus__img" src="/img/whatsapp.svg">
                    </div>
                    <div class="l-col-3">
                        <img class="m-rebus__img" src="/img/whatsapp.svg">
                    </div>
                    <div class="l-col-3">
                        <img class="m-rebus__img" src="/img/whatsapp.svg">
                    </div>
                </div>
            </div>
            <div class="m-rebus__answer">
                <label>Vul je antwoord in:</label>
                <input id="m-rebus__input" placeholder="Typ hier" type="text" />
                <button id="m-rebus__check" class="o-btn obtn--ghost">Check antwoord!</button>
            </div>
        </div>
    </div>
</div>