@charset "UTF-8";

/* =============================================================================
CONFIG
============================================================================= */

$sourceSansPro: 'Source Sans Pro Regular';
$sourceSansPro--italic: 'Source Sans Pro Italic';
$sourceSansPro--light: 'Source Sans Pro Light';
$sourceSansPro--light-italic: 'Source Sans Pro Light Italic';
$sourceSansPro--bold: 'Source Sans Pro Bold';
$sourceSansPro--bold-italic: 'Source Sans Pro Bold Italic';
$sourceSansPro--extra-light: 'Source Sans Pro Extra Light';
$sourceSansPro--extra-light-italic: 'Source Sans Pro Extra Light Italic';
$sourceSansPro--semi-bold: 'Source Sans Pro Semi Bold';
$sourceSansPro--semi-bold-italic: 'Source Sans Pro Semi Bold Italic';
$sourceSansPro--black: 'Source Sans Pro Black';
$sourceSansPro--black-italic: 'Source Sans Pro Black Italic';


/* =============================================================================
BASE
============================================================================= */


@font-face {
    font-family: $sourceSansPro--extra-light-italic;
    src: url('./assets/fonts/sourceSansPro/extraLightItalic/SourceSansPro-ExtraLightItalic.eot');
    src: url('./assets/fonts/sourceSansPro/extraLightItalic/SourceSansPro-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
        url('./assets/fonts/sourceSansPro/extraLightItalic/SourceSansPro-ExtraLightItalic.woff2') format('woff2'),
        url('./assets/fonts/sourceSansPro/extraLightItalic/SourceSansPro-ExtraLightItalic.woff') format('woff'),
        url('./assets/fonts/sourceSansPro/extraLightItalic/SourceSansPro-ExtraLightItalic.ttf') format('truetype'),
        url('./assets/fonts/sourceSansPro/extraLightItalic/SourceSansPro-ExtraLightItalic.svg#SourceSansPro-ExtraLightItalic') format('svg');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: $sourceSansPro--semi-bold-italic;
    src: url('./assets/fonts/sourceSansPro/semiBoldItalic/SourceSansPro-SemiBoldItalic.eot');
    src: url('./assets/fonts/sourceSansPro/semiBoldItalic/SourceSansPro-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('./assets/fonts/sourceSansPro/semiBoldItalic/SourceSansPro-SemiBoldItalic.woff2') format('woff2'),
        url('./assets/fonts/sourceSansPro/semiBoldItalic/SourceSansPro-SemiBoldItalic.woff') format('woff'),
        url('./assets/fonts/sourceSansPro/semiBoldItalic/SourceSansPro-SemiBoldItalic.ttf') format('truetype'),
        url('./assets/fonts/sourceSansPro/semiBoldItalic/SourceSansPro-SemiBoldItalic.svg#SourceSansPro-SemiBoldItalic') format('svg');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: $sourceSansPro--bold-italic;
    src: url('./assets/fonts/sourceSansPro/boldItalic/SourceSansPro-BoldItalic.eot');
    src: url('./assets/fonts/sourceSansPro/boldItalic/SourceSansPro-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('./assets/fonts/sourceSansPro/boldItalic/SourceSansPro-BoldItalic.woff2') format('woff2'),
        url('./assets/fonts/sourceSansPro/boldItalic/SourceSansPro-BoldItalic.woff') format('woff'),
        url('./assets/fonts/sourceSansPro/boldItalic/SourceSansPro-BoldItalic.ttf') format('truetype'),
        url('./assets/fonts/sourceSansPro/boldItalic/SourceSansPro-BoldItalic.svg#SourceSansPro-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: $sourceSansPro--black-italic;
    src: url('./assets/fonts/sourceSansPro/blackItalic/SourceSansPro-BlackItalic.eot');
    src: url('./assets/fonts/sourceSansPro/blackItalic/SourceSansPro-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('./assets/fonts/sourceSansPro/blackItalic/SourceSansPro-BlackItalic.woff2') format('woff2'),
        url('./assets/fonts/sourceSansPro/blackItalic/SourceSansPro-BlackItalic.woff') format('woff'),
        url('./assets/fonts/sourceSansPro/blackItalic/SourceSansPro-BlackItalic.ttf') format('truetype'),
        url('./assets/fonts/sourceSansPro/blackItalic/SourceSansPro-BlackItalic.svg#SourceSansPro-BlackItalic') format('svg');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: $sourceSansPro--extra-light;
    src: url('./assets/fonts/sourceSansPro/extraLight/SourceSansPro-ExtraLight.eot');
    src: url('./assets/fonts/sourceSansPro/extraLight/SourceSansPro-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('./assets/fonts/sourceSansPro/extraLight/SourceSansPro-ExtraLight.woff2') format('woff2'),
        url('./assets/fonts/sourceSansPro/extraLight/SourceSansPro-ExtraLight.woff') format('woff'),
        url('./assets/fonts/sourceSansPro/extraLight/SourceSansPro-ExtraLight.ttf') format('truetype'),
        url('./assets/fonts/sourceSansPro/extraLight/SourceSansPro-ExtraLight.svg#SourceSansPro-ExtraLight') format('svg');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: $sourceSansPro--black;
    src: url('./assets/fonts/sourceSansPro/black/SourceSansPro-Black.eot');
    src: url('./assets/fonts/sourceSansPro/black/SourceSansPro-Black.eot?#iefix') format('embedded-opentype'),
        url('./assets/fonts/sourceSansPro/black/SourceSansPro-Black.woff2') format('woff2'),
        url('./assets/fonts/sourceSansPro/black/SourceSansPro-Black.woff') format('woff'),
        url('./assets/fonts/sourceSansPro/black/SourceSansPro-Black.ttf') format('truetype'),
        url('./assets/fonts/sourceSansPro/black/SourceSansPro-Black.svg#SourceSansPro-Black') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: $sourceSansPro;
    src: url('./assets/fonts/sourceSansPro/regular/SourceSansPro-Regular.eot');
    src: url('./assets/fonts/sourceSansPro/regular/SourceSansPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('./assets/fonts/sourceSansPro/regular/SourceSansPro-Regular.woff2') format('woff2'),
        url('./assets/fonts/sourceSansPro/regular/SourceSansPro-Regular.woff') format('woff'),
        url('./assets/fonts/sourceSansPro/regular/SourceSansPro-Regular.ttf') format('truetype'),
        url('./assets/fonts/sourceSansPro/regular/SourceSansPro-Regular.svg#SourceSansPro-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: $sourceSansPro--bold;
    src: url('./assets/fonts/sourceSansPro/bold/SourceSansPro-Bold.eot');
    src: url('./assets/fonts/sourceSansPro/bold/SourceSansPro-Bold.eot?#iefix') format('embedded-opentype'),
        url('./assets/fonts/sourceSansPro/bold/SourceSansPro-Bold.woff2') format('woff2'),
        url('./assets/fonts/sourceSansPro/bold/SourceSansPro-Bold.woff') format('woff'),
        url('./assets/fonts/sourceSansPro/bold/SourceSansPro-Bold.ttf') format('truetype'),
        url('./assets/fonts/sourceSansPro/bold/SourceSansPro-Bold.svg#SourceSansPro-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: $sourceSansPro--light;
    src: url('./assets/fonts/sourceSansPro/light/SourceSansPro-Light.eot');
    src: url('./assets/fonts/sourceSansPro/light/SourceSansPro-Light.eot?#iefix') format('embedded-opentype'),
        url('./assets/fonts/sourceSansPro/light/SourceSansPro-Light.woff2') format('woff2'),
        url('./assets/fonts/sourceSansPro/light/SourceSansPro-Light.woff') format('woff'),
        url('./assets/fonts/sourceSansPro/light/SourceSansPro-Light.ttf') format('truetype'),
        url('./assets/fonts/sourceSansPro/light/SourceSansPro-Light.svg#SourceSansPro-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: $sourceSansPro--semi-bold;
    src: url('./assets/fonts/sourceSansPro/semiBold/SourceSansPro-SemiBold.eot');
    src: url('./assets/fonts/sourceSansPro/semiBold/SourceSansPro-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('./assets/fonts/sourceSansPro/semiBold/SourceSansPro-SemiBold.woff2') format('woff2'),
        url('./assets/fonts/sourceSansPro/semiBold/SourceSansPro-SemiBold.woff') format('woff'),
        url('./assets/fonts/sourceSansPro/semiBold/SourceSansPro-SemiBold.ttf') format('truetype'),
        url('./assets/fonts/sourceSansPro/semiBold/SourceSansPro-SemiBold.svg#SourceSansPro-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: $sourceSansPro--light-italic;
    src: url('./assets/fonts/sourceSansPro/lightItalic/SourceSansPro-LightItalic.eot');
    src: url('./assets/fonts/sourceSansPro/lightItalic/SourceSansPro-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('./assets/fonts/sourceSansPro/lightItalic/SourceSansPro-LightItalic.woff2') format('woff2'),
        url('./assets/fonts/sourceSansPro/lightItalic/SourceSansPro-LightItalic.woff') format('woff'),
        url('./assets/fonts/sourceSansPro/lightItalic/SourceSansPro-LightItalic.ttf') format('truetype'),
        url('./assets/fonts/sourceSansPro/lightItalic/SourceSansPro-LightItalic.svg#SourceSansPro-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: $sourceSansPro--italic;
    src: url('./assets/fonts/sourceSansPro/italic/SourceSansPro-Italic.eot');
    src: url('./assets/fonts/sourceSansPro/italic/SourceSansPro-Italic.eot?#iefix') format('embedded-opentype'),
        url('./assets/fonts/sourceSansPro/italic/SourceSansPro-Italic.woff2') format('woff2'),
        url('./assets/fonts/sourceSansPro/italic/SourceSansPro-Italic.woff') format('woff'),
        url('./assets/fonts/sourceSansPro/italic/SourceSansPro-Italic.ttf') format('truetype'),
        url('./assets/fonts/sourceSansPro/italic/SourceSansPro-Italic.svg#SourceSansPro-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
}

