@charset "UTF-8";

/* =============================================================================
CONFIG
============================================================================= */

$module-name: 'heroimage';

/* =============================================================================
BASE
============================================================================= */

.m-#{$module-name} {
    position: absolute;
    width: 50vw;
    height: 100vh;
    right: 0;
    top: 0;
    z-index: -2;
    display: block;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}