<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Base Project</title>
	<meta name="description" content="Description of the page less than 150 characters">
	<link rel="dns-prefetch" href="//use.fontawesome.com/">
	<script async src="../js/vendors/modernizr-custom.js"></script>
	<script async src="../js/vendors/detectizr.min.js"></script>
	<script async defer src="https://use.fontawesome.com/releases/v5.0.2/js/all.js"></script>

	<!--GO TO https://realfavicongenerator.net/ TO GENERATE THE FAVICON FILES-->
	<link rel="apple-touch-icon" sizes="57x57" href="../img/favicons/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="../img/favicons/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="../img/favicons/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="../img/favicons/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="../img/favicons/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="../img/favicons/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="../img/favicons/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="../img/favicons/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192" href="../img/favicons/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="../img/favicons/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="../img/favicons/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="../img/favicons/favicon-16x16.png">
	<link rel="manifest" href="../img/favicons/manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="../img/favicons/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">
</head>

<body>
    <div id="o-notification" class="o-notification">
        <a id="o-notification__link" href="#">
            <div class="l-container">
                <div class="l-row">
                    <div class="l-col-12">
                        <img id="o-notification__app" width="20px" height="20px;" />
                        <span id="o-notification__apptext"></span>
                    </div>
                </div>
                <div class="l-row">
                    <div class="l-col-12">
                        <strong id="o-notification__from"></strong>
                    </div>
                </div>
                <div class="l-row">
                    <div class="l-col-12">
                        <p id="o-notification__text"></p>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="m-facebook">
        <div class="m-facebook__header">
            <div class="l-row">
                <div class="l-col-2">
                    <i class="fas fa-angle-left"></i>
                </div>
                <div class="l-col-2">
                    <div id="m-facebook__profilepic" class="m-facebook__profilepic"></div>
                </div>
                <div class="l-col-6">
                    <div class="m-facebook__postdata">
                        <div class="l-row">
                            <div class="l-col-12">
                                <div id="m-facebook__postdata--name" class="m-facebook__postdata--name"></div>
                            </div>
                        </div>
                        <div class="l-row">
                            <div class="l-col-12">
                                <div id="m-facebook__postdata--timestamp" class="m-facebook__postdata--timestamp"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="l-col-2">
                    <div class="m-facebook__settings">
                        <img src="/img/facebook/settings.svg" />
                    </div>
                </div>
            </div>
        </div>
        <div class="m-facebook__post">
            <div class="l-row">
                <div class="l-col-12">
                    <div class="l-container">
                        <p id="m-facebook__posttext"></p>
                        <a class="m-facebook__link" href="#">Lees meer</a>
                    </div>
                </div>
            </div>
            <div class="l-row">
                <div class="l-col-12">
                    <a href="#" class="m-facebook__link">
                        <img id="m-facebook__img" src="/img/facebook/newspic.png" />
                    </a>
                </div>
            </div>
        </div>
        <div class="m-facebook__metadata">
            <div class="m-facebook__interaction">
                <div class="l-row">
                    <div class="l-col-4">
                        <i class="far fa-thumbs-up"></i> Like
                    </div>
                    <div class="l-col-4">
                        <i class="far fa-comment"></i> Comment
                    </div>
                    <div class="l-col-4">
                        <i class="fas fa-share"></i> Share
                    </div>
                </div>
            </div>
            <div class="m-facebook__likes">
                <div class="l-row">
                    <div class="l-col-12">
                        <i class="far fa-thumbs-up"></i> <span id="m-facebook__likes"></span>
                    </div>
                </div>
            </div>
            <div class="m-facebook__shares">
                <div class="l-row">
                    <div class="l-col-12">
                        <span id="m-facebook__shares"></span>
                    </div>
                </div>
            </div>
        </div>
        <div id="m-facebook__comments" class="m-facebook__comments"></div>
    </div>
</body>

</html>
