<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Base Project</title>
	<meta name="description" content="Description of the page less than 150 characters">
	<link rel="dns-prefetch" href="//use.fontawesome.com/">
	<script async src="../js/vendors/modernizr-custom.js"></script>
	<script async src="../js/vendors/detectizr.min.js"></script>
	<script async defer src="https://use.fontawesome.com/releases/v5.0.2/js/all.js"></script>

	<!--GO TO https://realfavicongenerator.net/ TO GENERATE THE FAVICON FILES-->
	<link rel="apple-touch-icon" sizes="57x57" href="../img/favicons/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="../img/favicons/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="../img/favicons/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="../img/favicons/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="../img/favicons/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="../img/favicons/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="../img/favicons/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="../img/favicons/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192" href="../img/favicons/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="../img/favicons/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="../img/favicons/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="../img/favicons/favicon-16x16.png">
	<link rel="manifest" href="../img/favicons/manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="../img/favicons/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">
</head>

<body>
    <div id="o-notification" class="o-notification">
        <a id="o-notification__link" href="#">
            <div class="l-container">
                <div class="l-row">
                    <div class="l-col-12">
                        <img id="o-notification__app" width="20px" height="20px;" />
                        <span id="o-notification__apptext"></span>
                    </div>
                </div>
                <div class="l-row">
                    <div class="l-col-12">
                        <strong id="o-notification__from"></strong>
                    </div>
                </div>
                <div class="l-row">
                    <div class="l-col-12">
                        <p id="o-notification__text"></p>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="m-instagram">
        <div class="m-instagram__topbar">
            <div class="l-row">
                <div class="l-col-3">
                    <img src="/img/instagram/camera.svg" />
                </div>
                <div class="l-col-6">
                    <img class="m-instagram__topbar--logo" src="/img/instagram/instagram.svg" />
                </div>
                <div class="l-col-3">
                    <img src="/img/instagram/dm.svg" />
                </div>
            </div>
        </div>
        <div class="m-instagram__profilebar">
            <div class="l-row">
                <div class="l-col-3">
                    <div class="m-instagram__photocontainer">
                        <img class="m-instagram__profilepic" />
                    </div>
                </div>
                <div class="l-col-6">
                    <div class="m-instagram__profilemeta">
                        <p class="m-instagram__profilename"></p>
                        <p id="m-instagram__location"></p>
                    </div>
                </div>
                <div class="l-col-3">
                    <div class="m-instagram__settings">
                        <img src="/img/instagram/settings.svg" />
                    </div>
                </div>
            </div>
        </div>
        <div class="m-instagram__photo">
            <img id="m-instagram__photo" />
        </div>
        <div class="m-instagram__interactbar">
            <div class="l-row">
                <div class="l-col-5">
                    <img class="m-instagram__like" src="/img/instagram/like.svg" />
                    <img src="/img/instagram/comment.svg" />
                    <img src="/img/instagram/dm.svg" />
                </div>
                <div class="l-col-4"></div>
                <div class="l-col-3">
                    <div class="m-instagram__bookmark">
                        <img src="/img/instagram/bookmark.svg" />
                    </div>
                </div>
            </div>
        </div>
        <div class="m-instagram__description">
            <div class="l-row">
                <div class="l-col-12">
                    <p>Liked by <strong id="m-instagram__likedby"></strong> and <strong id="m-instagram__others"></strong></p>
                </div>
            </div>
            <div class="l-row">
                <div class="l-col-12">
                    <p><strong class="m-instagram__profilename"></strong> <span id="m-instagram__postcomment"></span></p>
                </div>
            </div>
            <div class="l-row">
                <div class="l-col-12">
                    <p class="m-instagram__description--viewall">View all <span id="m-instagram__allcomments"></span> comments</p>
                </div>
            </div>
            <div class="l-row">
                <div class="l-col-12">
                    <p><strong id="m-instagram__commentby"></strong> <span id="m-instagram__comment"></span></p>
                </div>
            </div>
        </div>
        <div class="m-instagram__meta">
            <div class="l-row">
                <div class="l-col-12">
                    <p><span id="m-instagram__timestamp"></span> minutes ago</p>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
