<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Base Project</title>
	<meta name="description" content="Description of the page less than 150 characters">
	<link rel="dns-prefetch" href="//use.fontawesome.com/">
	<script async src="../js/vendors/modernizr-custom.js"></script>
	<script async src="../js/vendors/detectizr.min.js"></script>
	<script async defer src="https://use.fontawesome.com/releases/v5.0.2/js/all.js"></script>

	<!--GO TO https://realfavicongenerator.net/ TO GENERATE THE FAVICON FILES-->
	<link rel="apple-touch-icon" sizes="57x57" href="../img/favicons/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="../img/favicons/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="../img/favicons/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="../img/favicons/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="../img/favicons/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="../img/favicons/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="../img/favicons/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="../img/favicons/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192" href="../img/favicons/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="../img/favicons/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="../img/favicons/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="../img/favicons/favicon-16x16.png">
	<link rel="manifest" href="../img/favicons/manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="../img/favicons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
</head>

<body>
    <div class="m-mobile-interface m-mobile-interface__bg">
        <div class="m-mobile-interface__topbar">
            <div class="l-row">
                <div class="l-col-4">
                    <div class="m-mobile-interface__dot"></div>
                    <div class="m-mobile-interface__dot"></div>
                    <div class="m-mobile-interface__dot"></div>
                    <div class="m-mobile-interface__dot"></div>
                    <div class="m-mobile-interface__dot"></div>
                    <div class="m-mobile-interface__connection">
                        <i class="fas fa-wifi"></i>
                    </div>
                </div>
                <div class="l-col-4">
                    <div class="m-mobile-interface__time">Time</div>
                </div>
                <div class="l-col-4">
                    <div class="m-mobile-interface__battery">
                        <div class="m-mobile-interface__battfiller"></div>
                        <i class="fas fa-battery-empty"></i>
                    </div>
                    <div class="m-mobile-interface__progression">%</div>
                </div>
            </div>
        </div>
        <div class="m-mobile-interface__content">
            <div class="l-row">
                <div class="l-col-3">
                    <div class="m-mobile-interface__apps">
                        <a href="/meropedia/introduction/introduction.html">
                            <img src="/img/meropedia.svg">
                        </a>
                        <p>Meropedia</p>
                    </div>
                </div>
                <div class="l-col-3">
                    <div class="m-mobile-interface__apps">
                        <a href="#">
                            <img src="/img/merofy.svg">
                        </a>
                        <p>merofy</p>
                    </div>
                </div>
                <div class="l-col-3">
                    <div class="m-mobile-interface__apps">
                        <a href="#">
                            <img src="/img/reminders.svg">
                        </a>
                        <p>Reminders</p>
                    </div>
                </div>
                <div class="l-col-3">
                    <div class="m-mobile-interface__apps">
                        <a href="#">
                            <img src="/img/wheater.svg">
                        </a>
                        <p>Weer</p>
                    </div>
                </div>
            </div>
            <div class="l-row">
                <div class="l-col-3">
                    <div class="m-mobile-interface__apps">
                        <a href="#">
                            <img src="/img/photo.svg">
                        </a>
                        <p>Foto's</p>
                    </div>
                </div>
                <div class="l-col-3">
                    <div class="m-mobile-interface__apps">
                        <a href="#">
                            <img src="/img/appstore.svg">
                        </a>
                        <p>App Store</p>
                    </div>
                </div>
                <div class="l-col-3">
                    <div class="m-mobile-interface__apps">
                        <a href="#">
                            <img src="/img/camera.svg">
                        </a>
                        <p>Camera</p>
                    </div>
                </div>
                <div class="l-col-3">
                </div>
            </div>
            
        </div>
        <div class="m-mobile-interface__hotbar">
            <div class="m-mobile-interface__blur"></div>
            <div class="l-row">
                <div class="l-col-3">
                    <div class="m-mobile-interface__apps">
                        <a href="#">
                            <img src="/img/whatsapp.svg">
                        </a>
                        <p>Whatsapp</p>
                    </div>
                </div>
                <div class="l-col-3">
                    <div class="m-mobile-interface__apps">
                        <a href="#">
                            <img src="/img/facebook.svg">
                        </a>
                        <p>Facebook</p>
                    </div>
                </div>
                <div class="l-col-3">
                    <div class="m-mobile-interface__apps">
                        <a href="#">
                            <img src="/img/twitter.svg">
                        </a>
                        <p>Twitter</p>
                    </div>
                </div>
                <div class="l-col-3">
                    <div class="m-mobile-interface__apps">
                        <a href="#">
                            <img src="/img/instagram.svg">
                        </a>
                        <p>Instagram</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
