<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div id="l-wrapper">
        <main id="l-content">
            <div class="m-whatsapp">
                <div class="l-row">
                    <div class="l-col-2">
                        < 1
                    </div>
                    <div class="l-col-2">
                        photo
                    </div>
                    <div class="l-col-8">
                        naam
                    </div>
                </div>
            </div>
        </main>
    </div>
</body>
</html>
