<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div id="l-wrapper">
        <main id="l-content">
            <div class="m-whatsapp">
                <div class="m-whatsapp__header">
                    <div class="l-row">
                        <div class="l-col-2 whatsapp-back">
                            <img src="/img/whatsapp-header/back.png">
                        </div>
                        <div class="l-col-2 whatsapp-photo">
                            photo
                        </div>
                        <div class="l-col-5 whatsapp-name">
                            naam
                        </div>
                        <div class="l-col-1 whatsapp-photo">
                            facetime
                        </div>
                        <div class="l-col-1 whatsapp-photo">
                            call
                        </div>
                    </div>
                </div>
            </div>
            <div class="m-whatsapp__body">

            </div>
            <div class="m-whatsapp__chatbar">
                
            </div>
        </main>
    </div>
</body>
</html>
