<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div id="l-wrapper">
        <main id="l-content">
            <div class="m-whatsapp">
                <div class="m-whatsapp__header">
                    <div class="l-row">
                        <div class="l-col-2 m-whatsapp__back">
                            <img class="m-whatsapp__back-img" src="/img/whatsapp-header/back.png">
                        </div>
                        <div class="l-col-2">
                            <img class="m-whatsapp__photo" src="/img/whatsapp-header/pope.jpg">
                        </div>
                        <div class="l-col-4 m-whatsapp__name">
                            naam
                        </div>
                        <div class="l-col-1 m-whatsapp__photo">
                            facetime
                        </div>
                        <div class="l-col-1 m-whatsapp__photo">
                            call
                        </div>
                    </div>
                </div>
            </div>
            <div class="m-whatsapp__body">

            </div>
            <div class="m-whatsapp__chatbar">

            </div>
        </main>
    </div>
</body>
</html>
