<!-- Basic responsive table -->
<div class="o-table--responsive">
	<table class="o-table">
		<caption>Basic table</caption>
		<thead>
			<tr>
				<th scope="col">Voornaam</th>
				<th scope="col">Achternaam</th>
				<th scope="col">Emailadres</th>
				<th scope="col">Telefoonnummer</th>
				<th scope="col">Woonplaats</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Rik</td>
				<td>Lamers</td>
				<td>info@riklamers.com</td>
				<td>+31 6 29 05 64 35</td>
				<td>Geleen</td>
			</tr>
			<tr>
				<td colspan="2">Rik Lamers</td>
				<td>info@riklamers.com</td>
				<td>+31 6 29 05 64 35</td>
				<td>Geleen</td>
			</tr>
		</tbody>
	</table>
</div>

<!-- Responsive dark themed table -->
<div class="o-table--responsive">
	<table class="o-table o-table--dark">
		<caption>Test</caption>
		<thead>
			<tr>
				<th scope="col">Voornaam</th>
				<th scope="col">Achternaam</th>
				<th scope="col">Emailadres</th>
				<th scope="col">Telefoonnummer</th>
				<th scope="col">Woonplaats</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Rik</td>
				<td>Lamers</td>
				<td>info@riklamers.com</td>
				<td>+31 6 29 05 64 35</td>
				<td>Geleen</td>
			</tr>
			<tr>
				<td colspan="2">Rik Lamers</td>
				<td>info@riklamers.com</td>
				<td>+31 6 29 05 64 35</td>
				<td>Geleen</td>
			</tr>
		</tbody>
	</table>
</div>

<!-- responsive table with dark table head -->
<div class="o-table--responsive">
	<table class="o-table o-table--dark-thead">
		<caption>Test</caption>
		<thead>
			<tr>
				<th scope="col">Voornaam</th>
				<th scope="col">Achternaam</th>
				<th scope="col">Emailadres</th>
				<th scope="col">Telefoonnummer</th>
				<th scope="col">Woonplaats</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Rik</td>
				<td>Lamers</td>
				<td>info@riklamers.com</td>
				<td>+31 6 29 05 64 35</td>
				<td>Geleen</td>
			</tr>
			<tr>
				<td colspan="2">Rik Lamers</td>
				<td>info@riklamers.com</td>
				<td>+31 6 29 05 64 35</td>
				<td>Geleen</td>
			</tr>
		</tbody>
	</table>
</div>

<!-- Responsive table with borders -->
<div class="o-table--responsive">
	<table class="o-table o-table--border">
		<caption>Test</caption>
		<thead>
			<tr>
				<th scope="col">Voornaam</th>
				<th scope="col">Achternaam</th>
				<th scope="col">Emailadres</th>
				<th scope="col">Telefoonnummer</th>
				<th scope="col">Woonplaats</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Rik</td>
				<td>Lamers</td>
				<td>info@riklamers.com</td>
				<td>+31 6 29 05 64 35</td>
				<td>Geleen</td>
			</tr>
			<tr>
				<td colspan="2">Rik Lamers</td>
				<td>info@riklamers.com</td>
				<td>+31 6 29 05 64 35</td>
				<td>Geleen</td>
			</tr>
		</tbody>
	</table>
</div>

<!-- responsive table with odd/even rows different color (also the dark variant) -->
<div class="o-table--responsive">
	<table class="o-table o-table--odd">
		<!-- <table class="o-table o-table--even"> -->
		<!-- <table class="o-table o-table--dark o-table--dark--odd"> -->
		<!-- <table class="o-table o-table--dark o-table--dark--even"> -->
		<caption>Test</caption>
		<thead>
			<tr>
				<th scope="col">Voornaam</th>
				<th scope="col">Achternaam</th>
				<th scope="col">Emailadres</th>
				<th scope="col">Telefoonnummer</th>
				<th scope="col">Woonplaats</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Rik</td>
				<td>Lamers</td>
				<td>info@riklamers.com</td>
				<td>+31 6 29 05 64 35</td>
				<td>Geleen</td>
			</tr>
			<tr>
				<td colspan="2">Rik Lamers</td>
				<td>info@riklamers.com</td>
				<td>+31 6 29 05 64 35</td>
				<td>Geleen</td>
			</tr>
		</tbody>
	</table>
</div>

<!-- Responsive table with diffrent row colors -->
<div class="o-table--responsive">
	<table class="o-table">
		<caption>Test</caption>
		<thead>
			<tr class="o-table--error">
				<th scope="col">Voornaam</th>
				<th scope="col">Achternaam</th>
				<th scope="col">Emailadres</th>
				<th scope="col">Telefoonnummer</th>
				<th scope="col">Woonplaats</th>
			</tr>
		</thead>
		<tbody>
			<tr class="o-table--warning">
				<td>Rik</td>
				<td>Lamers</td>
				<td>info@riklamers.com</td>
				<td>+31 6 29 05 64 35</td>
				<td>Geleen</td>
			</tr>
			<tr class="o-table--success">
				<td colspan="2">Rik Lamers</td>
				<td>info@riklamers.com</td>
				<td>+31 6 29 05 64 35</td>
				<td>Geleen</td>
			</tr>
			<tr class="o-table--info">
				<td>Rik</td>
				<td>Lamers</td>
				<td>info@riklamers.com</td>
				<td>+31 6 29 05 64 35</td>
				<td>Geleen</td>
			</tr>
		</tbody>
	</table>
</div>
