<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Base Project</title>
	<meta name="description" content="Description of the page less than 150 characters">
	<link rel="dns-prefetch" href="//use.fontawesome.com/">
	<script async src="../js/vendors/modernizr-custom.js"></script>
	<script async src="../js/vendors/detectizr.min.js"></script>
	<script async defer src="https://use.fontawesome.com/releases/v5.0.2/js/all.js"></script>

	<!--GO TO https://realfavicongenerator.net/ TO GENERATE THE FAVICON FILES-->
	<link rel="apple-touch-icon" sizes="57x57" href="../img/favicons/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="../img/favicons/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="../img/favicons/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="../img/favicons/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="../img/favicons/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="../img/favicons/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="../img/favicons/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="../img/favicons/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192" href="../img/favicons/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="../img/favicons/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="../img/favicons/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="../img/favicons/favicon-16x16.png">
	<link rel="manifest" href="../img/favicons/manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="../img/favicons/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">
</head>

<body class="meropedia">
	<div id="l-wrapper">

		<header id="l-header" role="banner">
			<div class="l-container">
				<a href="/info/index.html">
					<div class="o-logo o-logo--img"></div>
					<span class="sr-only">Meropedia</span>
				</a>
				<nav id="home" class="m-navigation">
					<button class="o-hamburger o-hamburger--squeeze m-navigation__toggle float-right" type="button" aria-label="Toggle main navigation"
					aria-expanded="false">
						<span class="o-hamburger-box">
							<span class="o-hamburger-inner" />
						</span>
					</button>
					<ul class="m-navigation__list">
						<li class="m-navigation__item">
							<a href="#home">Home</a>
						</li>
						<li class="m-navigation__item">
							<a href="#game">Game</a>
						</li>
						<li class="m-navigation__item">
							<a href="#merovingen">Merovingen</a>
						</li>
					</ul>
				</nav>
			</div>
		</header>

		<main id="l-content">
			<div class="l-container">
				<div class="m-meropedia">
					<div class="l-row">
						<div class="l-col-12">
							<h2 id="game">Introductie: Historie Merovingisch rijk algemeen</h2>
						</div>
					</div>
					<div class="l-row">
						<div class="l-col-12">
							<p class="m-meropedia__subtitle">De Merovingen waren een dynastie van Frankische koningen, die over een regelmatig veranderend gebied in delen van het huidige Nederland, België, Frankrijk en Duitsland regeerden van de 5e tot in de 8e eeuw.</p>
						</div>
					</div>
					<div class="l-row">
						<div class="l-col-12">
							<h4 class="m-reset-t">Geschiedenis</h4>
						</div>
					</div>
					<div class="l-row">
						<div class="l-col-12">
							<p>De Merovingische dynastie dankt haar naam aan Merovech, een min of meer legendarische koning van de Salische Franken omstreeks 450. Zijn kleinzoon, Chlodovech, ook bekend als Clovis, verenigde het grootste deel van Gallië ten noorden van de Loire onder een gezag. Clovis liet zich in 496 dopen, waardoor het katholieke christendom de staatsgodsdienst van het Frankische Rijk werd. Het rijk van Clovis werd na zijn dood overeenkomstig de Salische wetten over zijn vier zonen verdeeld.</p>
						</div>
					</div>
					<div class="l-row">
						<div class="l-col-12">
							<p>De hoofdstad van de Merovingen was tot 486 gelegen in Doornik. Het is onduidelijk wanneer dit de hoofdstad is geworden. Waar het centrum van het Merovingische rijk voordien lag, en tot wanneer, is eveneens onderwerp van discussie. Er is enkel bekend dat dit Dispargum was, waarschijnlijk Duisburg aan de Rijn, hoewel Duisburg nabij Tervuren ook wel gesuggereerd is. Na Doornik verplaatste Clovis zijn hoofdstad naar Parijs.</p>
						</div>
					</div>
					<div class="l-row">
						<div class="l-col-12">
							<p>Een belangrijk kenmerk van de Merovingische maatschappij was de co-existentie tussen de Franken en de Gallo-Romeinse bevolking die al langer in de door de Franken veroverde gebieden woonde. Beide bevolkingsgroepen hadden dezelfde leefwijze, ook golden voor beide dezelfde juridische regels en etnisch gemengde huwelijken tussen beide waren toegelaten mits dit gebeurde binnen dezelfde stand. De Merovingen hadden oog voor de technologische voorsprong van de Gallo-Romeinen die gestoeld was op die van de Romeinen en op een hoger peil lag dan de Franken. Een groot deel van de overwonnen bevolking mochten hun bezettingen in eigendom behouden en Gallo-Romeinen konden belangrijke posten bekleden in de regering en het leger.</p>
						</div>
					</div>
					<div class="l-row">
						<div class="l-col-12">
							<p>Onder de Merovingen kreeg langzaamaan het middeleeuwse feodalisme gestalte, onder andere door het aanstellen van hertogen die verantwoordelijk werden voor het regeren, verdedigen en rechtspreken in delen van het Frankische koninkrijk.</p>
						</div>
					</div>
					<div class="l-row">
						<div class="l-col-12">
							<p>De landbouw vormde in de Merovingische periode veruit het belangrijkste middel van bestaan. Handel en nijverheid vervulden slechts een marginale rol. Omdat er nog geen grote ontginningen hadden plaatsgevonden, bestond de landbouwgrond voor 70-80% uit braakland.</p>
						</div>
					</div>
					<div class="l-row">
						<div class="l-col-12">
							<p>Halverwege de 7e eeuw hadden de Merovingen weinig feitelijke macht meer, en waren ze vooral symbolische figuren. Ze begonnen zichzelf steeds meer toe te leggen op wereldlijke geneugten, en lieten het regeren van hun koninkrijk over aan hofmeiers (major domus in het Latijn). Het ambt van hofmeier werd erfelijk vanaf de Karolingen.</p>
						</div>
					</div>
					<div class="l-row">
						<div class="l-col-12">
							<p>De Karolingen onttroonden de Merovingen in 751, toen Pepijn de Korte de Frankische edelen achter zich kreeg en de laatste Merovingische koning, Childerik III, afzette. De enige zoon van Childerik III, prins Theuderik (V), leidde een kerkelijk celibatair leven en zette het geslacht van de Merovingen niet voort. De Merovingische periode werd gevolgd door de Karolingische.</p>
						</div>
					</div>
					<div class="l-row">
						<div class="l-col-12">
							<h4>Bronnen</h4>
						</div>
					</div>
					<div class="l-row">
						<div class="l-col-12">
							<p>Voor de Merovingische tijd bestaan er weinig originele geschreven bronnen. Wat we menen te weten, komt voornamelijk uit tweede hand, via latere kopieën (van kopieën!). Veel behoort daarenboven tot de wereld van overlevering, sagen en legenden. Veel kan ook afgeleid worden van gegevens over tijdgerelateerde historische feiten.</p>
						</div>
					</div>
					<div class="l-row">
						<div class="l-col-12">
							<p>Wat wel in redelijke mate voorhanden is, zijn archeologische resten. Daar de huidige Belgische Provincie Henegouwen beschouwd kan worden als de bakermat van de Merovingische dynastie, heeft dit in België dan ook veel sporen nagelaten, zowel grafvelden als nederzettingen. Naast eigen numismatische activiteiten maakten de Merovingers voornamelijk gebruik van Romeinse, Byzantijnse en Friese munten. De grootste collectie archeologische vondsten uit de Merovingische periode van de Lage Landen is terug te vinden in het Jubelparkmuseum te Brussel. In tegenstelling tot schaarse historische bronnen uit/over deze periode, geven deze materiële bronnen voornamelijk een inzicht in het dagelijkse en agrarische leven van deze vroeg-middeleeuwse bevolking.</p>
						</div>
					</div>
					<div class="l-row">
						<div class="l-col-12">
							<div class="m-meropedia__sources">
								<div>
									<i>Gebruikte links</i>
								</div>
								<a href="https://nl.wikipedia.org/wiki/Merovingen" target="_blank">https://nl.wikipedia.org/wiki/Merovingen</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>

		<footer class="m-meropedia__footer" id="l-footer">
			<div class="l-row">
				<div class="l-col-12 l-col-sm-4">
					<!-- <a><i class="fas fa-long-arrow-alt-left"></i> Vorig topic</a> -->
				</div>
				<div class="l-col-12 l-col-sm-4">
					<img class="m-meropedia__footer" src="/img/meropedia-logo.svg" />
				</div>
				<div class="l-col-12 l-col-sm-4">
					<a href="/meropedia/introduction/koning-clovis.html">Volgend topic <i class="fas fa-long-arrow-alt-right"></i></a>
				</div>
			</div>
		</footer>

	</div>
</body>

</html>
