<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Base Project</title>
	<meta name="description" content="Description of the page less than 150 characters">
	<link rel="dns-prefetch" href="//use.fontawesome.com/">
	<script async src="../js/vendors/modernizr-custom.js"></script>
	<script async src="../js/vendors/detectizr.min.js"></script>
	<script async defer src="https://use.fontawesome.com/releases/v5.0.2/js/all.js"></script>

	<!--GO TO https://realfavicongenerator.net/ TO GENERATE THE FAVICON FILES-->
	<link rel="apple-touch-icon" sizes="57x57" href="../img/favicons/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="../img/favicons/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="../img/favicons/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="../img/favicons/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="../img/favicons/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="../img/favicons/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="../img/favicons/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="../img/favicons/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192" href="../img/favicons/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="../img/favicons/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="../img/favicons/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="../img/favicons/favicon-16x16.png">
	<link rel="manifest" href="../img/favicons/manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="../img/favicons/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">
</head>

<body class="meropedia">
	<div id="l-wrapper">

		<header id="l-header" role="banner">
			<div class="l-container">
				<a href="/info/index.html">
					<div class="o-logo o-logo--img"></div>
					<span class="sr-only">Meropedia</span>
				</a>
				<nav id="home" class="m-navigation">
					<button class="o-hamburger o-hamburger--squeeze m-navigation__toggle float-right" type="button" aria-label="Toggle main navigation"
					aria-expanded="false">
						<span class="o-hamburger-box">
							<span class="o-hamburger-inner" />
						</span>
					</button>
					<ul class="m-navigation__list">
							<li class="m-navigation__item m-navigation__item--chapter">
								Introductie
							</li>
								<li class="m-navigation__item">
									<a href="/meropedia/introduction/introduction.html">Introductie</a>
								</li>
								<li class="m-navigation__item">
									<a href="/meropedia/introduction/koning-clovis.html">Koning Clovis</a>
								</li>
								<li class="m-navigation__item">
									<a href="/meropedia/introduction/sint-servaas.html">Sint Servaas</a>
								</li>
							<li class="m-navigation__item m-navigation__item--chapter">
								Hoofdstuk 1
							</li>
								<li class="m-navigation__item">
									<a href="/meropedia/chapter1/bisschop.html">Bisschop</a>
								</li>
								<li class="m-navigation__item">
									<a href="/meropedia/chapter1/centre-ceramique.html">Centre Céramique</a>
								</li>
								<li class="m-navigation__item">
									<a href="/meropedia/chapter1/pater.html">Pater</a>
								</li>
								<li class="m-navigation__item">
									<a href="/meropedia/chapter1/priester.html">Priester</a>
								</li>
								<li class="m-navigation__item">
									<a href="/meropedia/chapter1/titels-in-het-christendom.html">Titels in het christendom</a>
								</li>
							<li class="m-navigation__item m-navigation__item--chapter">
								Hoofdstuk 2
							</li>
								<li class="m-navigation__item">
									<a href="/meropedia/chapter2/bril.html">Bril</a>
								</li>
								<li class="m-navigation__item">
									<a href="/meropedia/chapter2/maas.html">Maas</a>
								</li>
								<li class="m-navigation__item">
									<a href="/meropedia/chapter2/wonder-sint-servaas.html">Wonder Sint Servaas</a>
								</li>
								<li class="m-navigation__item">
									<a href="/meropedia/chapter2/zwerver.html">Zwerver</a>
								</li>
							<li class="m-navigation__item m-navigation__item--chapter">
								Hoofdstuk 3
							</li>
								<li class="m-navigation__item">
									<a href="/meropedia/chapter3/kleding.html">Kleding</a>
								</li>
								<li class="m-navigation__item">
									<a href="/meropedia/chapter3/kleermakerij.html">Kleermakerij</a>
								</li>
							<li class="m-navigation__item m-navigation__item--chapter">
								Hoofdstuk 4
							</li>
								<li class="m-navigation__item">
									<a href="/meropedia/chapter4/economie.html">Economie</a>
								</li>
								<li class="m-navigation__item">
									<a href="/meropedia/chapter4/ijzer-smid.html">Ijzer smid</a>
								</li>
								<li class="m-navigation__item">
									<a href="/meropedia/chapter4/olv-plein.html">O.L.V. Plein</a>
								</li>
							<li class="m-navigation__item m-navigation__item--chapter">
								Hoofdstuk 5
							</li>
								<li class="m-navigation__item">
									<a href="/meropedia/chapter5/basiliek.html">Basiliek</a>
								</li>
								<li class="m-navigation__item">
									<a href="/meropedia/chapter5/duivelsuitdrijving.html">Duivelsuitdrijving</a>
								</li>
								<li class="m-navigation__item">
									<a href="/meropedia/chapter5/sleutel.html">Sleutel</a>
								</li>
								<li class="m-navigation__item">
									<a href="/meropedia/chapter5/vrijthof.html">Vrijthof</a>
								</li>
								<li class="m-navigation__item">
									<a href="/meropedia/chapter5/Wonder.html">Wonder</a>
								</li>
							<li class="m-navigation__item m-navigation__item--chapter">
								Hoofdstuk 6
							</li>
								<li class="m-navigation__item">
									<a href="/meropedia/chapter6/geld.html">Geld</a>
								</li>
								<li class="m-navigation__item">
									<a href="/meropedia/chapter6/gezegende-producten.html">Gezegende Producten</a>
								</li>
								<li class="m-navigation__item">
									<a href="/meropedia/chapter6/markt.html">Markt</a>
								</li>
								<li class="m-navigation__item">
									<a href="/meropedia/chapter6/voedsel.html">Voedsel</a>
								</li>
							<li class="m-navigation__item m-navigation__item--chapter">
								Hoofdstuk 7
							</li>
								<li class="m-navigation__item">
									<a href="/meropedia/chapter7/oude-brug.html">Oude brug</a>
								</li>
							<li class="m-navigation__item m-navigation__item--chapter">
								Hoofdstuk 8
							</li>
								<li class="m-navigation__item">
									<a href="/meropedia/chapter8/prostitutie.html">Prostitutie</a>
								</li>
								<li class="m-navigation__item">
									<a href="/meropedia/chapter8/sociale-leven.html">Sociale leven</a>
								</li>
								<li class="m-navigation__item">
									<a href="/meropedia/chapter8/wyck.html">Wyck</a>
								</li>
							<li class="m-navigation__item m-navigation__item--chapter">
								Hoofdstuk 9
							</li>
								<li class="m-navigation__item">
									<a href="/meropedia/chapter9/brouwerij-merovingen.html">Brouwerij Merovingen</a>
								</li>
								<li class="m-navigation__item">
									<a href="/meropedia/chapter9/dranken.html">Dranken</a>
								</li>
								<li class="m-navigation__item">
									<a href="/meropedia/chapter9/stafsbrouwerij.html">Stadsbrouwerij</a>
								</li>
							<li class="m-navigation__item m-navigation__item--chapter">
								Hoofdstuk 10
							</li>
								<li class="m-navigation__item">
									<a href="/meropedia/chapter10/criminaliteit.html">Criminaliteit</a>
								</li>
								<li class="m-navigation__item">
									<a href="/meropedia/chapter10/judas.html">Judas</a>
								</li>
								<li class="m-navigation__item">
									<a href="/meropedia/chapter10/maaspunttoren.html">Maaspunttoren</a>
								</li>
							<li class="m-navigation__item m-navigation__item--chapter">
								Hoofdstuk 11
							</li>
								<li class="m-navigation__item">
									<a href="/meropedia/chapter11/geschiedenis.html">Geschiedenis</a>
								</li>
								<li class="m-navigation__item">
									<a href="/meropedia/chapter11/invloed-christendom.html">Invloed christendom</a>
								</li>
								<li class="m-navigation__item">
									<a href="/meropedia/chapter11/volksverhuizing.html">Volksverhuizing</a>
								</li>
						</ul>
				</nav>
			</div>
		</header>

		<main id="l-content">
			<div class="l-container">
				<div class="m-meropedia">
					<div class="l-row">
						<div class="l-col-12">
							<h2 id="game">Introductie: Koning Clovis</h2>
						</div>
					</div>
					<div class="l-row">
						<div class="l-col-12">
							<p class="m-meropedia__subtitle">De Frankische koning Clovis (ca. 466-511), ook wel bekend als Clovis I, was de eerste Frankische vorst die zich tot het christendom bekeerde. Hij staat vaak in de schaduw van de latere vorst <a target="_blank" href="https://historiek.net/karel-de-grote-vader-van-europa/60853/">Karel de Grote</a>, maar het is de vraag of dat terecht is. Wie was deze Clovis en wat heeft hij betekend voor de Franse en Europese geschiedenis?</p>
						</div>
					</div>
					<div class="l-row">
						<div class="l-col-12">
							<p>Voor een antwoord op deze vragen, gaan we grotendeels te rade bij de uitstekende biografie van Raoul Bauer, <a taget="_blank" href="https://geschiedenis-winkel.nl/clovis-raoul-bauer.html">Clovis (ca.466-511). In de schaduw van twee vrouwen</a> (Uitgeverij Davidsfonds, 2016).</p>
						</div>
					</div>
					<div class="l-row">
						<div class="l-col-12">
							<h4>Context: de Salische en Merovingische Franken (250-481 na Chr.)</h4>
						</div>
					</div>
					<div class="l-row">
						<div class="l-col-12 l-col-md-6">
							<p>Het Germaanse volk van de Salische Franken duikt in bronnen voor het eerst op na 250 na Christus. Een van de vroegste vermeldingen stond op de beroemde <a href="https://historiek.net/peutingerkaart/60654/" target="_blanl">Peutingerkaart</a>: Hamavi qui et Franci: ‘De Chamaven die ook Franken waren’.</p>
							<p>Het volk kwam mee met de Grote Volksverhuizing (ca.300-600). De Franken kwamen het Romeinse Rijk binnen in Toxandrië – zo heette het gebied tussen het huidige <a href="https://historiek.net/thema/breda/" target="_blank">Breda</a> en <a href="https://historiek.net/thema/antwerpen/" target="_blank">Antwerpen</a>– in 358. In dat jaar nam keizer <a href="https://historiek.net/julianus-apostata-331-363-na-chr/2369/" target="_blank">Julianus Apostata</a> (331-363) hen op als foederati (‘bondgenoten’) binnen het Romeinse Rijk.</p>
							<p>In 440 stichtten ze een officieel koninkrijk met als centrum Doornik. Het rijk breidde zich vervolgens uit richting het Zuiden, eerst tot de Somme, onder leiding van koning Childerik I (ca.436-481). Childerik sloot met de <a href="https://historiek.net/romeinse-rijk/" target="_blank">Romeinen</a> en <a href="https://historiek.net/thema/visigoten/" target="_blank">Visigoten</a> een verbond tegen <a href="https://historiek.net/attila-de-hun-ca-406-453/542/" target="_blank">Attila de Hun</a> en diens troepen.</p>
						</div>
						<div class="l-col-12 l-col-md-6">
							<img class="m-reset-t" src="/img/meropedia/introduction/uitbreiding-van-het-frankische-rijk.jpg" />
						</div>
					</div>
					<div class="l-row">
						<div class="l-col-12">
							<p>Onder Childeriks zoon Clovis begon de Merovingische dynastie en breidde het Frankische Rijk zich nog verder naar het zuiden uit, tot aan de rivier de Loire. De Franken profiteerden van het machtsvacuüm dat ontstond door het zich steeds verder terugtrekkende Romeinse Rijk.</p>
						</div>
					</div>
					<div class="l-row">
						<div class="l-col-12">
							<h4>Het vroege koningschap van Clovis (481-496)</h4>
						</div>
					</div>
					<div class="l-row">
						<div class="l-col-12">
							<p>Clovis werd geboren omstreeks het jaar 466 als zoon van Childerik I en Basina. Toen hij vijftien jaar was, in 481, volgde Clovis zijn vader op als koning. Kort tevoren, in 476, was de laatste West-Romeinse keizer Romulus Augustulus afgezet, waarmee een einde kwam aan het West-Romeinse Rijk. De weg naar machtsuitbreiding lag hierdoor open voor de Franken.</p>
						</div>
					</div>
					<div class="l-row">
						<div class="l-col-12 l-col-md-6">
							<img class="m-reset-y" src="/img/meropedia/introduction/clovis-en-clothilde-jean-antoine-gros.jpg" />
							<p><i>Clovis en Clothilde – Jean Antoine Gros</i></p>
						</div>
						<div class="l-col-12 l-col-md-6">
							<p>In 486 behaalde Clovis een belangrijke overwinning op Syagrius (ca.430-486), de laatste Romeinse generaal die zich nog in Gallië bevond en die – aldus geschiedschrijver Gregorius van Tours (ca.534-594) in diens werk Historia Francorum – in opdracht van Clovis met een messteek de dood vond.</p>
							<p>Clovis trad in 492 of 493 in het huwelijk met een Germaanse – meer specifiek: Bourgondische – koningsdochter genaamd Clothilde. Ze was een dochter van het koningspaar Chilperic en Caratena. Haar Bourgondische vader was ariaans, evenals veel andere Germaanse vorsten die tot het christendom overgegaan waren, maar haar moeder was katholiek. Onder haar invloed was ook Clothilde katholiek geworden. Zij was het die Clovis aanspoorde zich te laten dopen.</p>
						</div>
					</div>
					<div class="l-row">
						<div class="l-col-12">
							<h4>Clovis’ doop (496)</h4>
						</div>
					</div>
					<div class="l-row">
						<div class="l-col-12 l-col-md-6">
							<p>In 496 versloeg Clovis de Alemannen. In datzelfde jaar, op 25 december 496 (maar er zijn ook historici die 497, 499 of 506 als opties noemen), liet Clovis zich in de stad Reims dopen tot christen. Samen met een gevolg van 3000 Frankische krijgers en Clovis’ zussen Abboflede en Lantechilde. De meeste historici gaan er ervan uit dat het verhaal dat de overwinning op de Alemannen Clovis naar het christendom dreef, een legende is.</p>
							<p>In elke geval was hij tot deze doopplechtigheid aangespoord door zijn vrome vrouw Clothilde. De plechtigheid werd voltrokken door Remigius van Reims (ca.437-533), de bisschop van Reims.</p>
						</div>
						<div class="l-col-12 l-col-md-6">
							<img class="m-reset-y" src="/img/meropedia/introduction/de-doop-van-clovis-van-een-onbekende-franse-schilder-uit-saint-gilles.jpg" />
							<p><i>De doop van Clovis, van een onbekende Franse schilder uit Saint-Gilles</i></p>
						</div>
					</div>
					<div class="l-row">
						<div class="l-col-12">
							<p>Over de motieven van Clovis is in de historiografie naar voren gebracht dat Clovis hiermee de Gallisch-Romeinse <a href="https://historiek.net/aristocratie-kenmerken-betekenis/80073/" target="_blank">aristocratie</a> die al rooms-katholiek was, achter zich wilde krijgen. Zo kon hij de Visigoten, die en rijk hadden opgebouwd in het huidige Spanje en Zuid-<a href="https://historiek.net/landen/frankrijk-geschiedenis/" target="_blank">Frankrijk</a> en de ‘ketterij’ van het arianisme aanhingen – makkelijker bestrijden. Hoogstwaarschijnlijk was Clovis’ bekering inderdaad ingegeven door machtspolitieke ambities. Hoe machtspolitiek zijn motief ook was, zijn doop vormde een belangrijke stap in de kerstening van West-Europa.</p>
						</div>
					</div>
					<div class="l-row">
						<div class="l-col-12">
							<h4>Laatste regeerjaren en overlijden van Clovis (497-511)</h4>
						</div>
					</div>
					<div class="l-row">
						<div class="l-col-12">
							<p>In 507 verplaatste Clovis het machtscentrum van Doornik naar <a href="https://historiek.net/thema/parijs/" target="_blank">Parijs</a>, nadat hij de Visigoten verslagen had. Op 27 november 511 overleed hij in Parijs. Bij zijn overlijden hadden de Franken zeggenschap over bijna de volledige provincie Gallië, dat voortaan Frankrijk heette: het rijk van de Franken.</p>
						</div>
					</div>
					<div class="l-row">
						<div class="l-col-12">
							<p>Tot slot. In een enquête die in 1999 onder Fransen gehouden werd met de vraag wie de belangrijkste Fransman uit de geschiedenis was, kwam Clovis niet in de top drie terecht. De top drie bestond uit <a href="https://historiek.net/napoleon-bonaparte-generaal-keizer/61142/" target="_blank">Napoleon Bonaparte</a>, <a href="https://historiek.net/kort-maar-krachtig-het-leven-van-jeanne-darc/48590/" target="_blank">Jeanne d’Arc</a> en Karel de Grote…</p>
						</div>
					</div>
					<div class="l-row">
						<div class="l-col-12">
							<div class="m-meropedia__sources">
								<div>
									<i>Gebruikte links</i>
								</div>
								<a href="https://historiek.net/koning-clovis-koning-franken/69866/" target="_blank">https://historiek.net/koning-clovis-koning-franken/69866/</a>
								<a href="https://nl.wikipedia.org/wiki/Clovis_I" target="_blank">https://nl.wikipedia.org/wiki/Clovis_I</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>

		<footer class="m-meropedia__footer" id="l-footer">
			<div class="l-row">
				<div class="l-col-12 l-col-sm-4">
					<a href="/meropedia/introduction/introduction.html"><i class="fas fa-long-arrow-alt-left"></i> Vorig topic</a>
				</div>
				<div class="l-col-12 l-col-sm-4">
					<img class="m-meropedia__footer" src="/img/meropedia-logo.svg" />
				</div>
				<div class="l-col-12 l-col-sm-4">
					<a href="/meropedia/introduction/sint-servaas.html">Volgend topic <i class="fas fa-long-arrow-alt-right"></i></a>
				</div>
			</div>
		</footer>

	</div>
</body>

</html>
