<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Base Project</title>
	<meta name="description" content="Description of the page less than 150 characters">
	<link rel="dns-prefetch" href="//use.fontawesome.com/">
	<script async src="../js/vendors/modernizr-custom.js"></script>
	<script async src="../js/vendors/detectizr.min.js"></script>
	<script async defer src="https://use.fontawesome.com/releases/v5.0.2/js/all.js"></script>

	<!--GO TO https://realfavicongenerator.net/ TO GENERATE THE FAVICON FILES-->
	<link rel="apple-touch-icon" sizes="57x57" href="../img/favicons/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="../img/favicons/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="../img/favicons/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="../img/favicons/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="../img/favicons/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="../img/favicons/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="../img/favicons/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="../img/favicons/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192" href="../img/favicons/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="../img/favicons/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="../img/favicons/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="../img/favicons/favicon-16x16.png">
	<link rel="manifest" href="../img/favicons/manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="../img/favicons/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">
</head>

<body class="meropedia">
	<div id="l-wrapper">

		<header id="l-header" role="banner">
			<div class="l-container">
				<a href="/info/index.html">
					<div class="o-logo o-logo--img"></div>
					<span class="sr-only">Meropedia</span>
				</a>
				<nav id="home" class="m-navigation">
					<button class="o-hamburger o-hamburger--squeeze m-navigation__toggle float-right" type="button" aria-label="Toggle main navigation"
					aria-expanded="false">
						<span class="o-hamburger-box">
							<span class="o-hamburger-inner" />
						</span>
					</button>
					<ul class="m-navigation__list">
						<li class="m-navigation__item">
							<a href="#home">Home</a>
						</li>
						<li class="m-navigation__item">
							<a href="#game">Game</a>
						</li>
						<li class="m-navigation__item">
							<a href="#merovingen">Merovingen</a>
						</li>
					</ul>
				</nav>
			</div>
		</header>

		<main id="l-content">
			<div class="l-container">
				<div class="m-meropedia">
					<div class="l-row">
						<div class="l-col-12">
							<h2 id="game">Hoofdstuk 1: Centre Céramique</h2>
						</div>
					</div>
					<div class="l-row">
						<div class="l-col-12">
							<p class="m-meropedia__subtitle">Het Centre Céramique is een multifunctioneel gebouw in Maastricht in de gelijknamige wijk Céramique, gelegen op de hoek van het Plein 1992 en de Avenue Céramique. Het gebouw is ontworpen door Jo Coenen en herbergt onder andere de stadsbibliotheek van Maastricht en diverse expositieruimtes.</p>
						</div>
					</div>
					<div class="l-row">
						<div class="l-col-12">
							<h4>Geschiedenis</h4>
						</div>
					</div>
					<div class="l-row">
						<div class="l-col-12">
							<p>De Stadsbibliotheek Maastricht gaat terug tot het jaar 1662, toen in het nieuwe stadhuis van Maastricht een ruimte werd ingericht als bibliotheek (later werd dit de raadszaal). In 1773 telde deze bibliotheek 3500 banden. In de 19e eeuw waren de bibliotheek en het stadsarchief gevestigd in het Oude Minderbroedersklooster aan de Sint Pieterstraat, vanaf 1915 in het Generaalshuis aan het Vrijthof. Een deel van de collectie was wegens plaatsgebrek opgeslagen in de Dominicanenkerk. In 1971 ging de Stadsbibliotheek samen met de Openbare Bibliotheek aan de Witmakersstraat, een jaar later met de Centrale Bibliotheek in de Beyart. De bibliotheekcollectie bestond in die tijd uit ruim 450.000 delen. In 1977 verhuisde de Stadsbibliotheek naar de Nieuwenhofstraat, de huidige binnenstadslocatie van de Universiteitsbibliotheek Maastricht. In 1999 ten slotte werd het huidige gebouw aan de Avenue Céramique en Plein 1992 betrokken.</p>
						</div>
					</div>
					<div class="l-row">
						<div class="l-col-12">
							<p>Organisatorisch is het Centre Céramique ondergebracht in een ambtelijke organisatie, samen met het Natuurhistorisch Museum Maastricht en het centrum voor kunsteducatie Kumulus. De bibliotheek heeft twee servicepunten in Heeren Malpertuis. Zowel het aantal bezoekers als het aantal uitleningen van de bibliotheek zijn de laatste jaren sterk gedaald. Het aantal bezoekers van tentoonstellingen stijgt daarentegen. Om die reden zijn er plannen ontwikkeld om het souterrain in te richten met extra tentoonstellingsruimte voor de collecties Merovingische grafvondsten en glas en aardewerk.</p>
						</div>
					</div>
					<div class="l-row">
						<div class="l-col-12">
							<h4>Boekencollecties</h4>
						</div>
					</div>
					<div class="l-row">
						<div class="l-col-12">
							<p>De bibliotheek van het Centre Céramique, hoewel sterk ingekrompen, telt nog steeds meer dan 200.000 banden. Tot de bijzondere collecties behoren circa 20.000 Limburgensia (boeken en tijdschriften die betrekking hebben op Limburg), ongeveer 10.000 publicaties over didactiek en lesmethodes (waaronder een verzameling schoolplaten), de qua omvang op twee na grootste collectie schaakboeken in Nederland, een ruim 3000 banden omvattende collectie devotionalia (handelend over rooms-katholieke spiritualiteit) en een unieke verzameling boeken over bedevaarten (met name met betrekking tot Santiago de Compostella).</p>
						</div>
					</div>
					<div class="l-row">
						<div class="l-col-12 l-col-md-6">
							<p>De boekencollectie omvat tevens een verzameling handschriften en oude drukken vanaf de 15e eeuw. In enkele gevallen is in een boekomslag het perkament van een ouder handschrift verwerkt. Onder de oude medische handboeken bevindt zich een exemplaar van het laat-middeleeuwse kruidenboek Hortus sanitatis met fraaie illustraties. Het bezit een originele uitgave van Anna Bijns' Schoon ende suverlijc boecxken inhoudende veel constige refereinen uit 1528, alsmede een Latijnse uitgave van deze liedbundel uit 1529. Bijzonder is ook de eerste druk van Mozart's klavierversie van Die Zauberflöte, in 1793 verschenen in Bonn, een jaar na de première van de opera. Van de Maastrichtse cellist en componist Joseph Hollman zijn diverse uitgaven aanwezig.</p>
						</div>
						<div class="l-col-12 l-col-md-6">
							<img class="m-reset-y" src="/img/meropedia/chapter1/Hortus_sanitatis(1497).jpg" />
							<p><i>Hortus sanitatis (1497)</i></p>
						</div>
					</div>
					<div class="l-row">
						<div class="l-col-12">
							<h4>Museale collecties</h4>
						</div>
					</div>
					<div class="l-row">
						<div class="l-col-12">
							<p>In het Centre Céramique wordt een deel van de archeologische en historische verzamelingen van het Limburgs Geschied- en Oudheidkundig Genootschap (LGOG) bewaard, aangevuld met de oudheidkundige collectie van de gemeente Maastricht en de collecties Maastrichts aardewerk en Maastrichts glas van enkele lokale fabrieken. Ook de bekende Maquette van Maastricht uit 1752 staat in het Centre Céramique opgesteld. Daarnaast zijn er de zeer diverse verzamelingen Japanse prenten, historische schoolplaten en natuurwetenschappelijke instrumenten en gereedschappen ondergebracht.</p>
						</div>
					</div>
					<div class="l-row">
						<div class="l-col-12">
							<h4>Archeologische collectie</h4>
						</div>
					</div>
					<div class="l-row">
						<div class="l-col-12 l-col-md-6">
							<img class="m-reset-y" src="/img/meropedia/chapter1/Korinthisch kapiteel_(Herkenberg-Meerssen_ca 200).jpg" />
							<p><i>Korinthisch kapiteel (villa Herkenberg, Meerssen, ca 200)</i></p>
						</div>
						<div class="l-col-12 l-col-md-6">
							<p>Tot 1999 was het Bonnefantenmuseum zowel museum van schone kunsten als archeologisch en historisch museum. In dat jaar droeg het museum een deel van de collectie archeologie van het LGOG over aan de gemeente Maastricht, thans te zien in het Centre Céramique. Een ander deel bevindt zich in het Limburgs Museum te Venlo. In Centre Céramique is tevens het Gemeentelijk Depot voor Bodemvondsten Maastricht (GDBM) gevestigd. Hoogtepunten uit de collectie zijn de Keltische muntschatuit Amby, enkele honderden uit de Maas opgedregde Romeinse sculptuurfragmenten, een groot aantal Merovingische grafvondsten, vondsten uit middeleeuwse beerputten en een van de circa 70 paardenskeletten, die bij Borgharen zijn opgegraven.</p>
						</div>
					</div>
					<div class="l-row">
						<div class="l-col-12">
							<h4>Historische collectie</h4>
						</div>
					</div>
					<div class="l-row">
						<div class="l-col-12 l-col-md-6">
							<p>Het pronkstuk van de bescheiden historische collectie is zonder meer de kopie van de Maquette van Maastricht, een nauwgezet schaalmodel van de stad ten tijde van het Beleg van Maastricht (1748). Het centrale deel van de maquette staat permanent opgesteld; de complete maquette, die ruim 40m² in beslag neemt, is slechts eens in de vijf jaar te zien.</p>
						</div>
						<div class="l-col-12 l-col-md-6">
							<img class="m-reset-y" src="/img/meropedia/chapter1/Maquette_van_Maastricht.jpg" />
							<p><i>Maquette van Maastricht</i></p>
						</div>
					</div>
					<div class="l-row">
						<div class="l-col-12">
							<h4>Collectie Maastrichts aardewerk</h4>
						</div>
					</div>
					<div class="l-row">
						<div class="l-col-12">
							<p>De collectie Maastrichts aardewerk van het Centre Céramique bevat onder meer de archieven van de bekende Maastrichtse aardewerkfabrieken Petrus Regout/De Sphinx (1834-1958), N.A. Bosch (1853-1866) Société Céramique (1863-1958) en Mosa (1883-ca 1970). Een belangrijk onderdeel is de ‘fabriekscollectie’ van de Koninklijke Sphinx, een systematische verzameling (57.000 stuks) van alle aardewerkproducten van Regout en Sphinx, vrijwel vanaf de oprichting in 1834. In 2009 ontving de Gemeente Maastricht de uitgebreide collectie Mosa aardewerk (11.000 stuks) van H. van Buren. Enkele kleinere schenkingen van particulieren vullen de collectie aan.</p>
						</div>
					</div>
					<div class="l-row">
						<div class="l-col-12">
							<h4>Collectie glas</h4>
						</div>
					</div>
					<div class="l-row">
						<div class="l-col-12">
							<p>Een groot deel van de glascollectie van het Centre Céramique is geschonken door de Naardenseverzamelaar W.J. Rust, voorheen te zien in het Glas- en Keramiekmuseum Maastricht aan de Brusselsestraat. De schenking bestaat voornamelijk uit 18e- en 19e-eeuws glas en kristal, maar bevat ook Romeins en Syrisch glaswerk. Deze verzameling wordt aangevuld met antiek glas uit de voormalige Bonnefantencollectie en enkele Frankische grafvondsten van de stichting Schatkamer Sint-Servaasbasiliek. De collectie wordt gecompleteerd door Maastrichts glas uit de late 19e en 20e eeuw, afkomstig van de Sphinx glasfabriek (1827-1925), de Stella glasfabriek (1876-1925) en de Kristalunie(1925-ca 1970).</p>
						</div>
					</div>
					<div class="l-row">
						<div class="l-col-12">
							<div class="m-meropedia__sources">
								<div>
									<i>Gebruikte links</i>
								</div>
								<a href="https://nl.wikipedia.org/wiki/Centre_C%C3%A9ramique" target="_blank">https://nl.wikipedia.org/wiki/Centre_C%C3%A9ramique</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>

		<footer class="m-meropedia__footer" id="l-footer">
			<div class="l-row">
				<div class="l-col-12 l-col-sm-4">
					<a href="/meropedia/introduction/sint-servaas.html"><i class="fas fa-long-arrow-alt-left"></i> Vorig topic</a>
				</div>
				<div class="l-col-12 l-col-sm-4">
					<img class="m-meropedia__footer" src="/img/meropedia-logo.svg" />
				</div>
				<div class="l-col-12 l-col-sm-4">
					<a href="/meropedia/chapter1/titels-in-het-christendom.html">Volgend topic <i class="fas fa-long-arrow-alt-right"></i></a>
				</div>
			</div>
		</footer>

	</div>
</body>

</html>
