<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Base Project</title>
	<meta name="description" content="Description of the page less than 150 characters">
	<link rel="dns-prefetch" href="//use.fontawesome.com/">
	<script async src="../js/vendors/modernizr-custom.js"></script>
	<script async src="../js/vendors/detectizr.min.js"></script>
	<script async defer src="https://use.fontawesome.com/releases/v5.0.2/js/all.js"></script>

	<!--GO TO https://realfavicongenerator.net/ TO GENERATE THE FAVICON FILES-->
	<link rel="apple-touch-icon" sizes="57x57" href="../img/favicons/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="../img/favicons/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="../img/favicons/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="../img/favicons/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="../img/favicons/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="../img/favicons/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="../img/favicons/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="../img/favicons/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192" href="../img/favicons/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="../img/favicons/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="../img/favicons/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="../img/favicons/favicon-16x16.png">
	<link rel="manifest" href="../img/favicons/manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="../img/favicons/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">
</head>

<body class="meropedia">
	<div id="l-wrapper">

		<header id="l-header" role="banner">
			<div class="l-container">
				<a href="/info/index.html">
					<div class="o-logo o-logo--img"></div>
					<span class="sr-only">Meropedia</span>
				</a>
				<nav id="home" class="m-navigation">
					<button class="o-hamburger o-hamburger--squeeze m-navigation__toggle float-right" type="button" aria-label="Toggle main navigation"
					aria-expanded="false">
						<span class="o-hamburger-box">
							<span class="o-hamburger-inner" />
						</span>
					</button>
					<ul class="m-navigation__list">
							<li class="m-navigation__item m-navigation__item--chapter">
								Introductie
							</li>
								<li class="m-navigation__item">
									<a href="/meropedia/introduction/introduction.html">Introductie</a>
								</li>
								<li class="m-navigation__item">
									<a href="/meropedia/introduction/koning-clovis.html">Koning Clovis</a>
								</li>
								<li class="m-navigation__item">
									<a href="/meropedia/introduction/sint-servaas.html">Sint Servaas</a>
								</li>
							<li class="m-navigation__item m-navigation__item--chapter">
								Hoofdstuk 1
							</li>
								<li class="m-navigation__item">
									<a href="/meropedia/chapter1/bisschop.html">Bisschop</a>
								</li>
								<li class="m-navigation__item">
									<a href="/meropedia/chapter1/centre-ceramique.html">Centre Céramique</a>
								</li>
								<li class="m-navigation__item">
									<a href="/meropedia/chapter1/pater.html">Pater</a>
								</li>
								<li class="m-navigation__item">
									<a href="/meropedia/chapter1/priester.html">Priester</a>
								</li>
								<li class="m-navigation__item">
									<a href="/meropedia/chapter1/titels-in-het-christendom.html">Titels in het christendom</a>
								</li>
							<li class="m-navigation__item m-navigation__item--chapter">
								Hoofdstuk 2
							</li>
								<li class="m-navigation__item">
									<a href="/meropedia/chapter2/bril.html">Bril</a>
								</li>
								<li class="m-navigation__item">
									<a href="/meropedia/chapter2/maas.html">Maas</a>
								</li>
								<li class="m-navigation__item">
									<a href="/meropedia/chapter2/wonder-sint-servaas.html">Wonder Sint Servaas</a>
								</li>
								<li class="m-navigation__item">
									<a href="/meropedia/chapter2/zwerver.html">Zwerver</a>
								</li>
							<li class="m-navigation__item m-navigation__item--chapter">
								Hoofdstuk 3
							</li>
								<li class="m-navigation__item">
									<a href="/meropedia/chapter3/kleding.html">Kleding</a>
								</li>
								<li class="m-navigation__item">
									<a href="/meropedia/chapter3/kleermakerij.html">Kleermakerij</a>
								</li>
							<li class="m-navigation__item m-navigation__item--chapter">
								Hoofdstuk 4
							</li>
								<li class="m-navigation__item">
									<a href="/meropedia/chapter4/economie.html">Economie</a>
								</li>
								<li class="m-navigation__item">
									<a href="/meropedia/chapter4/ijzer-smid.html">Ijzer smid</a>
								</li>
								<li class="m-navigation__item">
									<a href="/meropedia/chapter4/olv-plein.html">O.L.V. Plein</a>
								</li>
							<li class="m-navigation__item m-navigation__item--chapter">
								Hoofdstuk 5
							</li>
								<li class="m-navigation__item">
									<a href="/meropedia/chapter5/basiliek.html">Basiliek</a>
								</li>
								<li class="m-navigation__item">
									<a href="/meropedia/chapter5/duivelsuitdrijving.html">Duivelsuitdrijving</a>
								</li>
								<li class="m-navigation__item">
									<a href="/meropedia/chapter5/sleutel.html">Sleutel</a>
								</li>
								<li class="m-navigation__item">
									<a href="/meropedia/chapter5/vrijthof.html">Vrijthof</a>
								</li>
								<li class="m-navigation__item">
									<a href="/meropedia/chapter5/Wonder.html">Wonder</a>
								</li>
							<li class="m-navigation__item m-navigation__item--chapter">
								Hoofdstuk 6
							</li>
								<li class="m-navigation__item">
									<a href="/meropedia/chapter6/geld.html">Geld</a>
								</li>
								<li class="m-navigation__item">
									<a href="/meropedia/chapter6/gezegende-producten.html">Gezegende Producten</a>
								</li>
								<li class="m-navigation__item">
									<a href="/meropedia/chapter6/markt.html">Markt</a>
								</li>
								<li class="m-navigation__item">
									<a href="/meropedia/chapter6/voedsel.html">Voedsel</a>
								</li>
							<li class="m-navigation__item m-navigation__item--chapter">
								Hoofdstuk 7
							</li>
								<li class="m-navigation__item">
									<a href="/meropedia/chapter7/oude-brug.html">Oude brug</a>
								</li>
							<li class="m-navigation__item m-navigation__item--chapter">
								Hoofdstuk 8
							</li>
								<li class="m-navigation__item">
									<a href="/meropedia/chapter8/prostitutie.html">Prostitutie</a>
								</li>
								<li class="m-navigation__item">
									<a href="/meropedia/chapter8/sociale-leven.html">Sociale leven</a>
								</li>
								<li class="m-navigation__item">
									<a href="/meropedia/chapter8/wyck.html">Wyck</a>
								</li>
							<li class="m-navigation__item m-navigation__item--chapter">
								Hoofdstuk 9
							</li>
								<li class="m-navigation__item">
									<a href="/meropedia/chapter9/brouwerij-merovingen.html">Brouwerij Merovingen</a>
								</li>
								<li class="m-navigation__item">
									<a href="/meropedia/chapter9/dranken.html">Dranken</a>
								</li>
								<li class="m-navigation__item">
									<a href="/meropedia/chapter9/stafsbrouwerij.html">Stadsbrouwerij</a>
								</li>
							<li class="m-navigation__item m-navigation__item--chapter">
								Hoofdstuk 10
							</li>
								<li class="m-navigation__item">
									<a href="/meropedia/chapter10/criminaliteit.html">Criminaliteit</a>
								</li>
								<li class="m-navigation__item">
									<a href="/meropedia/chapter10/judas.html">Judas</a>
								</li>
								<li class="m-navigation__item">
									<a href="/meropedia/chapter10/maaspunttoren.html">Maaspunttoren</a>
								</li>
							<li class="m-navigation__item m-navigation__item--chapter">
								Hoofdstuk 11
							</li>
								<li class="m-navigation__item">
									<a href="/meropedia/chapter11/geschiedenis.html">Geschiedenis</a>
								</li>
								<li class="m-navigation__item">
									<a href="/meropedia/chapter11/invloed-christendom.html">Invloed christendom</a>
								</li>
								<li class="m-navigation__item">
									<a href="/meropedia/chapter11/volksverhuizing.html">Volksverhuizing</a>
								</li>
						</ul>
				</nav>
			</div>
		</header>

		<main id="l-content">
			<div class="l-container">
				<div class="m-meropedia">
					<div class="l-row">
						<div class="l-col-12">
							<h2 id="game">Priester</h2>
						</div>
					</div>
					<div class="l-row">
						<div class="l-col-12">
							<p class="m-meropedia__subtitle">Een priester is in vele religies zoals het boeddhisme, hindoeïsme en het christendom, een tussenpersoon tussen (de) God(en) en de (gelovige) mensen. Een priester is meestal een man, maar kan ook een vrouw (priesteres) zijn, afhankelijk van de voorschriften van de betreffende godsdienst.</p>
						</div>
					</div>
					<div class="l-row">
						<div class="l-col-12">
							<h4>Katholieke Kerk</h4>
						</div>
					</div>
					<div class="l-row">
						<div class="l-col-12">
							<p>In de Katholieke Kerk is een priester een man die, na een opleiding van 6 à 7 jaar aan een seminarie of ander vormingsinstituut, van een bisschop de priesterwijding heeft ontvangen. Door deze sacramentele wijding is hij in staat om de zes andere sacramenten (eucharistie, doopsel, vormsel, biecht, ziekenzalving en huwelijk) toe te dienen. Een belangrijke functie is de offerhandeling, het misoffer in de katholieke theologie. Het woord priester staat in het Nederlands dan ook vaak gelijk aan "offeraar aan God of goden". Een pasgewijd priester is een neomist. Voordat iemand tot priester wordt gewijd, is hij eerst tot diaken gewijd.</p>
						</div>
					</div>
					<div class="l-row">
						<div class="l-col-12">
							<p>Uitdrukkelijk vindt men de functies van de priester binnen het christendom terug in de aloude (Latijnse) riten die de bisschop over de zojuist gewijde priester uitspreekt: Gewaardig u, Heer, om deze handen te wijden en te heiligen door deze zalving en onze zegening. Dat al hetgeen zij mogen zegenen gezegend zij, en al hetgeen zij toewijden toegewijd en geheiligd moge zijn, in de naam van Onze Heer Jezus-Christus. (...) Ontvang de macht aan God het Offer op te dragen en de Mis te vieren zowel voor de levenden als de doden, in de Naam des Heren.</p>
						</div>
					</div>
					<div class="l-row">
						<div class="l-col-12">
							<p>Van oudsher behoort de priesterwijding in de Katholieke Kerk tot de Hogere Wijdingen, waarvan zij de hoogste trap is. Alle andere functies (ook liturgische, zoals lector en acoliet) gelden als lager, zelfs als er een wijding voor ingesteld is.</p>
						</div>
					</div>
					<div class="l-row">
						<div class="l-col-12">
							<h4>Seculiere en reguliere geestelijkheid</h4>
						</div>
					</div>
					<div class="l-row">
						<div class="l-col-12">
							<p>Een priester belooft bij zijn wijding gehoorzaamheid, ofwel aan de bisschop die hem wijdt, ofwel aan een overste van een religieuze orde, klooster of congregatie.</p>
						</div>
					</div>
					<div class="l-row">
						<div class="l-col-12">
							<p>De eerstgenoemde rekent men tot de seculiere geestelijkheid (van het Latijn saeculum: het aardse leven, wereld) en worden daarom ook wel wereldheren genoemd. Zij worden door de bisschop benoemd tot leraar in een bisschoppelijk college, tot aalmoezenier van een ziekenhuis, rusthuis, van het leger of een beweging of aangesteld binnen een parochie (de pastoor en de parochievicaris - ook kapelaan of onderpastoor genoemd).</p>
						</div>
					</div>
					<div class="l-row">
						<div class="l-col-12">
							<p>Zij die aan een overste gehoorzaamheid beloofden, rekent men tot de reguliere geestelijkheid: zij volgen een bepaalde levensregel (van bijvoorbeeld de Heilige Benedictus van Nursia of de Heilige Augustinus) en leven samen met andere broeders (niet-priesters) en paters (priesters). Zij krijgen hun taak van hun overste, die hen eventueel ter beschikking kan stellen van de plaatselijke bisschopom in zijn bisdom een taak op zich te nemen. Ook zij kunnen dus tot pastoor benoemd worden, maar slechts met instemming van hun overste.</p>
						</div>
					</div>
					<div class="l-row">
						<div class="l-col-12">
							<h4>Verlies van de klerikale staat</h4>
						</div>
					</div>
					<div class="l-row">
						<div class="l-col-12">
							<p>De priesterwijding kan nooit nietig worden eens ze geldig is ontvangen. Een clericus kan wel de klerikale staat verliezen door een vonnis of een decreet, door de straf van wegzending of door een rescript van de Apostolische Stoel.</p>
						</div>
					</div>
					<div class="l-row">
						<div class="l-col-12">
							<p>Het verlies van de klerikale staat, staat los van de celibaatsverplichting. Een mogelijke dispensatie van de celibaatsverplichting kan enkel door de paus verleend worden.</p>
						</div>
					</div>
					<div class="l-row">
						<div class="l-col-12">
							<p>Een clericus die de klerikale staat verliest, verliest daarmee de rechten die eigen zijn aan de klerikale staat en is niet meer gebonden aan de verplichtingen die eraan verbonden zijn. Zo verliest hij bijvoorbeeld wijdingsmacht en worden hem alle ambten, taken en elke gedelegeerde macht ontnomen.</p>
						</div>
					</div>
					
					<div class="l-row">
						<div class="l-col-12">
							<div class="m-meropedia__sources">
								<div>
									<i>Gebruikte links</i>
								</div>
								<a href="https://nl.wikipedia.org/wiki/Priester" target="_blank">https://nl.wikipedia.org/wiki/Priester</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>

		<footer class="m-meropedia__footer" id="l-footer">
			<div class="l-row">
				<div class="l-col-12 l-col-sm-4">
					<a href="/meropedia/chapter1/bisschop.html"><i class="fas fa-long-arrow-alt-left"></i> Vorig topic</a>
				</div>
				<div class="l-col-12 l-col-sm-4">
					<img class="m-meropedia__footer" src="/img/meropedia-logo.svg" />
				</div>
				<div class="l-col-12 l-col-sm-4">
					<a href="/meropedia/chapter1/pater.html">Volgend topic <i class="fas fa-long-arrow-alt-right"></i></a>
				</div>
			</div>
		</footer>

	</div>
</body>

</html>
