<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Base Project</title>
	<meta name="description" content="Description of the page less than 150 characters">
	<link rel="dns-prefetch" href="//use.fontawesome.com/">
	<script async src="../js/vendors/modernizr-custom.js"></script>
	<script async src="../js/vendors/detectizr.min.js"></script>
	<script async defer src="https://use.fontawesome.com/releases/v5.0.2/js/all.js"></script>

	<!--GO TO https://realfavicongenerator.net/ TO GENERATE THE FAVICON FILES-->
	<link rel="apple-touch-icon" sizes="57x57" href="../img/favicons/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="../img/favicons/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="../img/favicons/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="../img/favicons/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="../img/favicons/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="../img/favicons/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="../img/favicons/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="../img/favicons/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192" href="../img/favicons/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="../img/favicons/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="../img/favicons/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="../img/favicons/favicon-16x16.png">
	<link rel="manifest" href="../img/favicons/manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="../img/favicons/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">
</head>

<body class="meropedia">
	<div id="l-wrapper">

		<header id="l-header" role="banner">
			<div class="l-container">
				<a href="/info/index.html">
					<div class="o-logo o-logo--img"></div>
					<span class="sr-only">Meropedia</span>
				</a>
				<nav id="home" class="m-navigation">
					<button class="o-hamburger o-hamburger--squeeze m-navigation__toggle float-right" type="button" aria-label="Toggle main navigation"
					aria-expanded="false">
						<span class="o-hamburger-box">
							<span class="o-hamburger-inner" />
						</span>
					</button>
					<ul class="m-navigation__list">
							<li class="m-navigation__item m-navigation__item--chapter">
								Introductie
							</li>
								<li class="m-navigation__item">
									<a href="/meropedia/introduction/introduction.html">Introductie</a>
								</li>
								<li class="m-navigation__item">
									<a href="/meropedia/introduction/koning-clovis.html">Koning Clovis</a>
								</li>
								<li class="m-navigation__item">
									<a href="/meropedia/introduction/sint-servaas.html">Sint Servaas</a>
								</li>
							<li class="m-navigation__item m-navigation__item--chapter">
								Hoofdstuk 1
							</li>
								<li class="m-navigation__item">
									<a href="/meropedia/chapter1/bisschop.html">Bisschop</a>
								</li>
								<li class="m-navigation__item">
									<a href="/meropedia/chapter1/centre-ceramique.html">Centre Céramique</a>
								</li>
								<li class="m-navigation__item">
									<a href="/meropedia/chapter1/pater.html">Pater</a>
								</li>
								<li class="m-navigation__item">
									<a href="/meropedia/chapter1/priester.html">Priester</a>
								</li>
								<li class="m-navigation__item">
									<a href="/meropedia/chapter1/titels-in-het-christendom.html">Titels in het christendom</a>
								</li>
							<li class="m-navigation__item m-navigation__item--chapter">
								Hoofdstuk 2
							</li>
								<li class="m-navigation__item">
									<a href="/meropedia/chapter2/bril.html">Bril</a>
								</li>
								<li class="m-navigation__item">
									<a href="/meropedia/chapter2/maas.html">Maas</a>
								</li>
								<li class="m-navigation__item">
									<a href="/meropedia/chapter2/wonder-sint-servaas.html">Wonder Sint Servaas</a>
								</li>
								<li class="m-navigation__item">
									<a href="/meropedia/chapter2/zwerver.html">Zwerver</a>
								</li>
							<li class="m-navigation__item m-navigation__item--chapter">
								Hoofdstuk 3
							</li>
								<li class="m-navigation__item">
									<a href="/meropedia/chapter3/kleding.html">Kleding</a>
								</li>
								<li class="m-navigation__item">
									<a href="/meropedia/chapter3/kleermakerij.html">Kleermakerij</a>
								</li>
							<li class="m-navigation__item m-navigation__item--chapter">
								Hoofdstuk 4
							</li>
								<li class="m-navigation__item">
									<a href="/meropedia/chapter4/economie.html">Economie</a>
								</li>
								<li class="m-navigation__item">
									<a href="/meropedia/chapter4/ijzer-smid.html">Ijzer smid</a>
								</li>
								<li class="m-navigation__item">
									<a href="/meropedia/chapter4/olv-plein.html">O.L.V. Plein</a>
								</li>
							<li class="m-navigation__item m-navigation__item--chapter">
								Hoofdstuk 5
							</li>
								<li class="m-navigation__item">
									<a href="/meropedia/chapter5/basiliek.html">Basiliek</a>
								</li>
								<li class="m-navigation__item">
									<a href="/meropedia/chapter5/duivelsuitdrijving.html">Duivelsuitdrijving</a>
								</li>
								<li class="m-navigation__item">
									<a href="/meropedia/chapter5/sleutel.html">Sleutel</a>
								</li>
								<li class="m-navigation__item">
									<a href="/meropedia/chapter5/vrijthof.html">Vrijthof</a>
								</li>
								<li class="m-navigation__item">
									<a href="/meropedia/chapter5/Wonder.html">Wonder</a>
								</li>
							<li class="m-navigation__item m-navigation__item--chapter">
								Hoofdstuk 6
							</li>
								<li class="m-navigation__item">
									<a href="/meropedia/chapter6/geld.html">Geld</a>
								</li>
								<li class="m-navigation__item">
									<a href="/meropedia/chapter6/gezegende-producten.html">Gezegende Producten</a>
								</li>
								<li class="m-navigation__item">
									<a href="/meropedia/chapter6/markt.html">Markt</a>
								</li>
								<li class="m-navigation__item">
									<a href="/meropedia/chapter6/voedsel.html">Voedsel</a>
								</li>
							<li class="m-navigation__item m-navigation__item--chapter">
								Hoofdstuk 7
							</li>
								<li class="m-navigation__item">
									<a href="/meropedia/chapter7/oude-brug.html">Oude brug</a>
								</li>
							<li class="m-navigation__item m-navigation__item--chapter">
								Hoofdstuk 8
							</li>
								<li class="m-navigation__item">
									<a href="/meropedia/chapter8/prostitutie.html">Prostitutie</a>
								</li>
								<li class="m-navigation__item">
									<a href="/meropedia/chapter8/sociale-leven.html">Sociale leven</a>
								</li>
								<li class="m-navigation__item">
									<a href="/meropedia/chapter8/wyck.html">Wyck</a>
								</li>
							<li class="m-navigation__item m-navigation__item--chapter">
								Hoofdstuk 9
							</li>
								<li class="m-navigation__item">
									<a href="/meropedia/chapter9/brouwerij-merovingen.html">Brouwerij Merovingen</a>
								</li>
								<li class="m-navigation__item">
									<a href="/meropedia/chapter9/dranken.html">Dranken</a>
								</li>
								<li class="m-navigation__item">
									<a href="/meropedia/chapter9/stafsbrouwerij.html">Stadsbrouwerij</a>
								</li>
							<li class="m-navigation__item m-navigation__item--chapter">
								Hoofdstuk 10
							</li>
								<li class="m-navigation__item">
									<a href="/meropedia/chapter10/criminaliteit.html">Criminaliteit</a>
								</li>
								<li class="m-navigation__item">
									<a href="/meropedia/chapter10/judas.html">Judas</a>
								</li>
								<li class="m-navigation__item">
									<a href="/meropedia/chapter10/maaspunttoren.html">Maaspunttoren</a>
								</li>
							<li class="m-navigation__item m-navigation__item--chapter">
								Hoofdstuk 11
							</li>
								<li class="m-navigation__item">
									<a href="/meropedia/chapter11/geschiedenis.html">Geschiedenis</a>
								</li>
								<li class="m-navigation__item">
									<a href="/meropedia/chapter11/invloed-christendom.html">Invloed christendom</a>
								</li>
								<li class="m-navigation__item">
									<a href="/meropedia/chapter11/volksverhuizing.html">Volksverhuizing</a>
								</li>
						</ul>
				</nav>
			</div>
		</header>

		<main id="l-content">
			<div class="l-container">
				<div class="m-meropedia">
					<div class="l-row">
						<div class="l-col-12">
							<h2 id="game">Hoofdstuk 2: Zwervers in de vroege middeleeuwen</h2>
						</div>
					</div>
					<div class="l-row">
						<div class="l-col-12">
							<p class="m-meropedia__subtitle">Tijdens de vroege Middeleeuwen werd wie van aalmoezen leefde als 'hinderlijk' beschouwd. Men was van oordeel dat hulp aan de armen een taak van de Kerk was. Het was immers de goddelijke wil die bepaalde dat de ene rijk en machtig werd, en de andere ellende en ongeluk ten deel viel. En de arme, die moest deemoedig zijn plaats aanvaarden.</p>
						</div>
					</div>
					<div class="l-row">
						<div class="l-col-12 l-col-md-6">
							<p>In de loop van de 11e en 12e eeuw begon men armoede meer en meer te beschouwen als een spirituele waarde. Daarnaast ontwikkelde zich ook de lof voor de liefdadigheid, die beschouwd werd als een algemene sociale plicht. Liefdadigheid was het middel bij uitstek om de zonden in dit tranendal af te kopen. Toch bleef het onderscheid tussen verschillende groepen armen bestaan. Men maakte een onderscheid tussen ‘echte’ en ‘valse’ armen, tussen bedelaars en vagebonden. Kerkvaders en middeleeuwse theologen wensten de werkbekwamen uit de aalmoezenbedeling uit te sluiten. Enkel ‘echte’ armen hadden volgens hen recht op hulpverlening.</p>
						</div>
						<div class="l-col-12 l-col-md-6">
							<img src="/img/meropedia/chapter2/Een_arme_wordt.jpg" class="m-reset-y" />
						</div>
					</div>
					<div class="l-row">
						<div class="l-col-12">
							<p>Kroniekschrijvers en canonisten gingen nadenken over de armoede en de plaats van de ellende in de maatschappij. In 12e eeuw werd armoede en hongersnood ook een populair thema in de iconografie. De voorstelling van de wereld werd natuurlijk sterk gekleurd door de clerici. Liefdadigheid en armoede zijn deugden die triomferen in de middeleeuwse iconografie, zowel in de miniaturen als in de romaanse sculpturen. In de loop van de 13e eeuw bogen sommige denkers zich over het lot van de armen. In preken ter gelegenheid van de uitdeling van aalmoezen richtten de geestelijken zich tot hen. De beloning in het hiernamaals moest hen ertoe aanzetten om hun aardse lot te aanvaarden en niet in opstand te komen of te vervallen in oneerlijkheid. De voorzienigheid had het immers zo beschikt, dat welgestelden de gelegenheid hadden om liefdadigheid te bewijzen...</p>
						</div>
					</div>
					<div class="l-row">
						<div class="l-col-12">
							<p>Lange tijd was liefdadigheid en armenzorg het exclusieve domein van de Kerk. Vanaf de 13e eeuw werd de administratie van de hospitalen en gasthuizen in de steden geleid door de wereldlijke overheid. Toch had de geestelijkheid haar invloed op de weldadigheid niet verloren. Voortdurend hamerden de geestelijke autoriteiten erop dat wie het lot van de armen in de parochies verlichtte, kon genieten van spirituele gunsten. In elk geval was er aan het einde van de Middeleeuwen in de Nederlanden een duidelijke taakverdeling tussen de kerkelijke en wereldlijke autoriteiten. Beide machten werkten samen, hoewel er soms ook rivaliteit bestond. Het is ook in dat kader dat het werk van de bekende humanist Juan Luis Vives (zie ons vorige bericht) dient gesitueerd te worden.</p>
						</div>
					</div>
					
					<div class="l-row">
						<div class="l-col-12">
							<div class="m-meropedia__sources">
								<div>
									<i>Gebruikte links</i>
								</div>
								<a href="https://faro.be/erfgoeddag/nieuws/armen-en-bedelaars-tijdens-de-middeleeuwen-tussen-misprijzen-en-medelijden" target="_blank">https://faro.be/erfgoeddag/nieuws/armen-en-bedelaars-tijdens-de-middeleeuwen-tussen-misprijzen-en-medelijden</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>

		<footer class="m-meropedia__footer" id="l-footer">
			<div class="l-row">
				<div class="l-col-12 l-col-sm-4">
					<a href="/meropedia/chapter1/bril.html"><i class="fas fa-long-arrow-alt-left"></i> Vorig topic</a>
				</div>
				<div class="l-col-12 l-col-sm-4">
					<img class="m-meropedia__footer" src="/img/meropedia-logo.svg" />
				</div>
				<div class="l-col-12 l-col-sm-4">
					<!-- <a href="/meropedia/chapter2/zwervers.html">Volgend topic <i class="fas fa-long-arrow-alt-right"></i></a> -->
				</div>
			</div>
		</footer>

	</div>
</body>

</html>
