@charset "UTF-8";

/* =============================================================================
	CONFIG
============================================================================= */

$module-name: 'drag-drop';

$perkament-bg: './assets/img/perkament-bg.svg';

/* =============================================================================
	BASE
============================================================================= */

.m-#{$module-name} {
    height: 100%;
	width: 100%;
	background-image: url($perkament-bg);
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	overflow-y: scroll;
    overflow-x: hidden;

    &__correct {
        height: 125px;
        width: 100%;
        border: 1px solid black;

        &--spot {
            height: 75px;
            width: 75px;
            // border: 1px dashed black;
            display: block;
            margin: 0 auto;
            margin-top: 25px;
        }

    }

    &__items {

        img {
            height: 75px;
            width: 75px;
            margin: 0;
            position: absolute;
        }

    }

}