<div id="o-notification" class="o-notification">
    <a id="o-notification__link" href="#">
        <div class="l-container">
            <div class="l-row">
                <div class="l-col-12">
                    <img id="o-notification__app" width="20px" height="20px;" />
                    <span id="o-notification__apptext"></span>
                </div>
            </div>
            <div class="l-row">
                <div class="l-col-12">
                    <strong id="o-notification__from"></strong>
                </div>
            </div>
            <div class="l-row">
                <div class="l-col-12">
                    <p id="o-notification__text"></p>
                </div>
            </div>
        </div>
    </a>
</div>