@charset "UTF-8";

/* =============================================================================
	CONFIG
============================================================================= */

$module-name: 'whatsapp';
$imageUrl: './assets/img/whatsappbg.png';

/* =============================================================================
	BASE
============================================================================= */

.m-#{$module-name} {
	background-image: url($imageUrl);
	background-size: cover;
	display: block;
	height: 100vh;
	position: relative;
	margin: 0px;
	padding: 0px;

	// Header
	&__header {
		background: white;
		height: 150px;
	}

	&__back {

		&-img {
			width: 40%;
		}
		
	}

	&__photo {
		border-radius: 50%;
		width: 100px;
		height: 100px;
		line-height: 150px;
	}

	&__name {
		line-height: 150px;
	}

	// Body
	&__body {

	}

	// chatbar
	&__chatbar {

	}

}
