@charset "UTF-8";

/* =============================================================================
	CONFIG
============================================================================= */

$module-name: 'whatsapp';
$imageUrl: './assets/img/whatsappbg.png';

/* =============================================================================
	BASE
============================================================================= */

.m-#{$module-name} {
  background-image: url($imageUrl);
  background-size: cover;
  display: block;
  height: 100vh;
  position: relative;
  margin: 0px;
  padding: 0px;

  &__header {
    background: white;
    .whatsapp-back {

    }
    .whatsapp-photo {

    }
    .whatsapp-name {

    }
  }

}
