<div class="m-drag-drop">
    <div class="l-row">
        <div class="l-col-12">
            <div class="m-drag-drop__correct">
                <div class="l-row">
                    <div class="l-col-4">
                        <div class="m-drag-drop__correct--spot"></div>
                    </div>
                    <div class="l-col-4">
                        <div class="m-drag-drop__correct--spot"></div>
                    </div>
                    <div class="l-col-4">
                        <div class="m-drag-drop__correct--spot"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="m-drag-drop__items">
        <img id="m-drag-drop__emmer" src="/img/drag-drop/emmer.png" />
    </div>
    <div class="m-drag-drop__items">
        <img id="m-drag-drop__kam" src="/img/drag-drop/kam.png" />
    </div>
    <div class="m-drag-drop__items">
        <img id="m-drag-drop__kruig" src="/img/drag-drop/kruis.png" />
    </div>
    <div class="m-drag-drop__items">
        <img id="m-drag-drop__potje" data-id="correct" src="/img/drag-drop/potje.png" />
    </div>
    <div class="m-drag-drop__items">
        <img id="m-drag-drop__stof" src="/img/drag-drop/stof.png" />
    </div>
    <div class="m-drag-drop__items">
        <img id="m-drag-drop__takje" data-id="correct" src="/img/drag-drop/takje.png" />
    </div>
    <div class="m-drag-drop__items">
        <img id="m-drag-drop__touw" data-id="correct" src="/img/drag-drop/touw.png" />
    </div>
    <div class="m-drag-drop__items">
        <img id="m-drag-drop__water" src="/img/drag-drop/water.png" />
    </div>
    <div class="m-drag-drop__items">
        <img id="m-drag-drop__zwaard" src="/img/drag-drop/zwaard.png" />
    </div>
</div>