<div class="m-drag-drop">
    <div class="l-row">
        <div class="l-col-12">
            <div class="m-drag-drop__correct">
                <div class="l-row">
                    <div class="l-col-4">
                        <div class="m-drag-drop__correct--spot"></div>
                    </div>
                    <div class="l-col-4">
                        <div class="m-drag-drop__correct--spot"></div>
                    </div>
                    <div class="l-col-4">
                        <div class="m-drag-drop__correct--spot"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="m-drag-drop__items" data="1">
        <img id="m-drag-drop__whatsapp" data-id="correct" src="/img/whatsapp.svg" />
    </div>
    <div class="m-drag-drop__items" data="2">
        <img id="m-drag-drop__instagram" src="/img/instagram.svg" />
    </div>
    <div class="m-drag-drop__items" data="3">
        <img id="m-drag-drop__facebook" data-id="correct" src="/img/facebook.svg" />
    </div>
</div>