<div class="m-facebook">
    <div class="m-facebook__header">
        <div class="l-row">
            <div class="l-col-2">
                <i class="fas fa-angle-left"></i>
            </div>
            <div class="l-col-2">
                <div id="m-facebook__profilepic" class="m-facebook__profilepic"></div>
            </div>
            <div class="l-col-6">
                <div class="m-facebook__postdata">
                    <div class="l-row">
                        <div class="l-col-12">
                            <div id="m-facebook__postdata--name" class="m-facebook__postdata--name"></div>
                        </div>
                    </div>
                    <div class="l-row">
                        <div class="l-col-12">
                            <div id="m-facebook__postdata--timestamp" class="m-facebook__postdata--timestamp"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="l-col-2">
                <div class="m-facebook__settings">
                    <img src="/img/facebook/settings.svg" />
                </div>
            </div>
        </div>
    </div>
    <div class="m-facebook__post">
        <div class="l-row">
            <div class="l-col-12">
                <div class="l-container">
                    <p id="m-facebook__posttext"></p>
                    <a class="m-facebook__link" href="#">Lees meer</a>
                </div>
            </div>
        </div>
        <div class="l-row">
            <div class="l-col-12">
                <a href="#" class="m-facebook__link">
                    <img src="/img/facebook/newspic.png" />
                </a>
            </div>
        </div>
    </div>
    <div class="m-facebook__metadata">
        <div class="m-facebook__interaction">
            <div class="l-row">
                <div class="l-col-4">
                    <i class="far fa-thumbs-up"></i> Like
                </div>
                <div class="l-col-4">
                    <i class="far fa-comment"></i> Comment
                </div>
                <div class="l-col-4">
                    <i class="fas fa-share"></i> Share
                </div>
            </div>
        </div>
        <div class="m-facebook__likes">
            <div class="l-row">
                <div class="l-col-12">
                    <i class="far fa-thumbs-up"></i> <span id="m-facebook__likes"></span>
                </div>
            </div>
        </div>
        <div class="m-facebook__shares">
            <div class="l-row">
                <div class="l-col-12">
                    <span id="m-facebook__shares"></span>
                </div>
            </div>
        </div>
    </div>
    <div id="m-facebook__comments" class="m-facebook__comments"></div>
</div>