@charset "UTF-8";

/* =============================================================================
CONFIG
============================================================================= */

$module-name: 'footer';

/* =============================================================================
BASE
============================================================================= */

.m-#{$module-name} {
	margin-top: 15px;
	color: map-get($colors, primary);

	div {
		text-align: center;

		p {
			margin: 0;
		}

		@media (min-width: breakpoint-min(sm)) {
			text-align: left;
		}

	}

	&__contact {
		margin-bottom: 10px;
	}

	&__socials {
		float: none;

		a {
			margin:0 7px;

			&:last-child {
				margin-right: 0;
			}
		}

		@media (min-width: breakpoint-min(sm)) {
			float: right;
		}

	}

	&__copyright {
		display: block;
		margin: 10px 0;

		p {
			text-align: center;
		}

		@media (min-width: breakpoint-min(sm)) {
			margin: 0;
		}

		@media (min-width: breakpoint-min(lg)) {
			display: none;
		}
	}
}
