<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Stylesheet for project</title>
	<meta name="description" content="Description of the page less than 150 characters">
	<link rel="dns-prefetch" href="//use.fontawesome.com/">
	<script async src="./js/vendors/modernizr-custom.js"></script>
	<script async src="./js/vendors/detectizr.min.js"></script>
	<script async defer src="https://use.fontawesome.com/releases/v5.0.2/js/all.js"></script>
</head>

<body>

	<div class="l-container">
		<header class="m-header">
			<div class="l-row">
				<div class="l-col-12">
					<a class="o-logo o-logo__img" href="/">
						<span class="sr-only">Bas Heil</span>
					</a>

					<button class="o-hamburger o-hamburger--squeeze m-navigation__toggle float-right" type="button" aria-label="" aria-expanded="false">
						<span class="o-hamburger-box">
							<span class="o-hamburger-inner"></span>
						</span>
					</button>
				</div>
			</div>
		</header>

		<div class="m-heroimage"></div>

		<main id="l-content" class="m-content">

			<nav class="m-navigation">
				<div class="m-navigation__list">
					<li class="m-navigation__item h2">Menu</li>
					<li class="m-navigation__item is--active">
						<a href="#" class="h4">Home</a>
					</li>
					<li class="m-navigation__item">
						<a href="#" class="h4">Work</a>
					</li>
					<li class="m-navigation__item">
						<a href="#" class="h4">About me</a>
					</li>
					<li class="m-navigation__item">
						<a href="#" class="h4">Contact</a>
					</li>
				</div>
			</nav>

			<div class="m-copyright">
				<p>© Signature Design 2018</p>
			</div>

			<div class="m-who">
				<div class="l-row">
					<div class="l-col-12">
						<div class="m-who__img"></div>
						<h1>Bas Heil</h1>
						<div class="m-who__detail">
							<h2 class="h6">Graphic & Multimedia Designer</h2>
							<h2 class="h6">Communication & Multimedia Design student</h2>
						</div>
					</div>
				</div>
			</div>

		</main>
		<div class="m-footer">
			<div class="l-row">
				<div class="l-col-12 l-col-sm-4">
					<div class="m-footer__contact">
						<p>Say hello! - basheil14@hotmail.com</p>
					</div>
				</div>
				<div class="l-col-12 l-col-sm-4 l-col-sm-push-4">
					<span class="m-footer__socials">Follow me 
						<a href="">
							<i class="fab fa-facebook-f"></i>
						</a>
						<a href="">
							<i class="fab fa-vimeo-v"></i>
						</a>
						<a href="">
							<i class="fab fa-instagram"></i>
						</a>
						<a href="">
							<i class="fab fa-linkedin-in"></i>
						</a>
					</span>
				</div>
				<div class="l-col-12 l-col-sm-4 l-col-sm-pull-4">
					<div class="m-footer__copyright">
						<p>© Signature Design 2018</p>
					</div>
				</div>
			</div>
		</div>

	</div>
		
</body>

</html>
