<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Base Project</title>
	<meta name="description" content="Description of the page less than 150 characters">
	<link rel="dns-prefetch" href="//use.fontawesome.com/">
	<script async src="../js/vendors/modernizr-custom.js"></script>
	<script async src="../js/vendors/detectizr.min.js"></script>
	<script async defer src="https://use.fontawesome.com/releases/v5.0.2/js/all.js"></script>

	<!--GO TO https://realfavicongenerator.net/ TO GENERATE THE FAVICON FILES-->
	<link rel="apple-touch-icon" sizes="57x57" href="../img/favicons/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="../img/favicons/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="../img/favicons/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="../img/favicons/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="../img/favicons/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="../img/favicons/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="../img/favicons/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="../img/favicons/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192" href="../img/favicons/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="../img/favicons/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="../img/favicons/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="../img/favicons/favicon-16x16.png">
	<link rel="manifest" href="../img/favicons/manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="../img/favicons/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">
</head>

<body>
	<div id="l-wrapper">

		<!-- START l-header -->
		<header id="l-header" role="banner">
		</header>
		<!-- END l-header -->

		<main id="l-content">
			<div class="l-container">
				<div class="m-content">
					<div>
						<h1>Buttons</h1>
						<button>test</button>
						<button class="o-btn">test</button>
						<button class="o-btn o-btn--primary">test</button>
						<button class="o-btn o-btn--secondary">test</button>
						<button class="o-btn o-btn--outline bdr--primary">test</button>
					</div>
					<div>
						<h2>Checkboxes</h2>
						<div class="o-checkbox">
							<input type="checkbox" id="test1" />
							<label for="test1">Red</label>
						</div>

						<div class="o-checkbox">
							<input type="checkbox" id="test2" disabled />
							<label for="test2">Red</label>
						</div>

						<div class="o-checkbox">
							<input type="checkbox" id="test3" disabled checked />
							<label for="test3">Red</label>
						</div>
					</div>
					<div>
						<h1>Forms</h1>
						<form class="o-form">
							<label class="o-label">Voornaam:</label>
							<input type="text" placeholder="Voornaam" />

							<label class="o-label">Achternaam</label>
							<input type="text" placeholder="Achternaam" />

							<label class="o-label">E-mailadres</label>
							<input type="email" placeholder="E-mailadres" />

							<label class="o-label o-label--left">Wachtwoord</label>
							<input class="o-inputfield o-inputfield--secondary" type="password" placeholder="Wachtwoord" />

							<label class="o-label o-label--rounded">Woonplaats</label>
							<input class="o-inputfield o-inputfield--rounded" type="text" placeholder="Woonplaats" />

							<button class="o-btn o-btn--primary">Verstuur</button>
						</form>

						<form class="o-form o-form--border o-form--rounded">
							<label class="o-label">Voornaam:</label>
							<input type="text" placeholder="Voornaam" />

							<label class="o-label">Achternaam</label>
							<input type="text" placeholder="Achternaam" />

							<label class="o-label">E-mailadres</label>
							<input type="email" placeholder="E-mailadres" />

							<label class="o-label o-label--left">Wachtwoord</label>
							<input class="o-inputfield o-inputfield--secondary" type="password" placeholder="Wachtwoord" />

							<label class="o-label o-label--rounded">Woonplaats</label>
							<input class="o-inputfield o-inputfield--rounded" type="text" placeholder="Woonplaats" />

							<button class="o-btn o-btn--primary">Verstuur</button>
						</form>
					</div>
					<div>
						<h1>Inputfields</h1>
						<input type="button" value="Verstuur" />
						<input type="checkbox" />
						<input type="color" />
						<input type="date" />
						<input type="datetime-local" />
						<input type="email" />
						<input type="file" />
						<input type="hidden" />
						<input type="image" />
						<input type="month" />
						<input type="number" />
						<input type="password" />
						<input type="radio" />
						<input type="range" />
						<input type="reset" />
						<input tabindex="search" />
						<input type="submit" />
						<input type="tel" />
						<input type="text" />
						<input type="time" />
						<input type="url" />
						<input type="week" />

						<h2>Custom inputs</h2>
						<input type="text" class="o-inputfield" placeholder="test" />
						<input type="password" class="o-inputfield o-inputfield--primary" placeholder="test" />
						<input type="email" class="o-inputfield o-inputfield--secondary o-inputfield--rounded" placeholder="test" />
					</div>
					<div>
						<h1>label</h1>
						<label class="o-label">Test</label>
						<input class="o-inputfield o-inputfield--primary" placeholder="test" type="tel" />
					</div>
					<div>
						<h1>list</h1>
						<ul class="o-list--reset">
							<li class="o-list__item">
								<a href="#">Link</a>
							</li>
							<li class="o-list__item">
								<a href="#">Link</a>
							</li>
							<li class="o-list__item">
								<a href="#">Link</a>
							</li>
							<li class="o-list__item">
								<a href="#">Link</a>
							</li>
							<li class="o-list__item">
								<a href="#">Link</a>
							</li>
						</ul>
					</div>
					<div>
						<h1>Radiobutton</h1>
						<div class="o-radiobutton">
							<input type="radio" id="radio1" name="radio-group" checked>
							<label for="radio1">Apple</label>
						</div>

						<div class="o-radiobutton">
							<input type="radio" id="radio2" name="radio-group">
							<label for="radio2">Peach</label>
						</div>

						<div class="o-radiobutton">
							<input type="radio" id="radio3" name="radio-group" disabled>
							<label for="radio3">Orange</label>
						</div>
					</div>
					<div>
						<h1>Select</h1>
						<div class="o-select">
							<select>
								<option>Test 1</option>
								<option>Test 2</option>
								<option>Test 3</option>
								<option>Test 4</option>
								<option>Test 5</option>
							</select>
						</div>
					</div>
					<div>
						<h1>Table</h1>
						<div class="o-table--responsive">
							<table class="o-table">
								<caption>Basic table</caption>
								<thead>
									<tr>
										<th scope="col">Voornaam</th>
										<th scope="col">Achternaam</th>
										<th scope="col">Emailadres</th>
										<th scope="col">Telefoonnummer</th>
										<th scope="col">Woonplaats</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>Rik</td>
										<td>Lamers</td>
										<td>info@riklamers.com</td>
										<td>+31 6 29 05 64 35</td>
										<td>Geleen</td>
									</tr>
									<tr>
										<td colspan="2">Rik Lamers</td>
										<td>info@riklamers.com</td>
										<td>+31 6 29 05 64 35</td>
										<td>Geleen</td>
									</tr>
								</tbody>
							</table>
						</div>

						<div class="o-table--responsive">
							<table class="o-table o-table--dark">
								<caption>Test</caption>
								<thead>
									<tr>
										<th scope="col">Voornaam</th>
										<th scope="col">Achternaam</th>
										<th scope="col">Emailadres</th>
										<th scope="col">Telefoonnummer</th>
										<th scope="col">Woonplaats</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>Rik</td>
										<td>Lamers</td>
										<td>info@riklamers.com</td>
										<td>+31 6 29 05 64 35</td>
										<td>Geleen</td>
									</tr>
									<tr>
										<td colspan="2">Rik Lamers</td>
										<td>info@riklamers.com</td>
										<td>+31 6 29 05 64 35</td>
										<td>Geleen</td>
									</tr>
								</tbody>
							</table>
						</div>

						<div class="o-table--responsive">
							<table class="o-table o-table--dark-thead">
								<caption>Test</caption>
								<thead>
									<tr>
										<th scope="col">Voornaam</th>
										<th scope="col">Achternaam</th>
										<th scope="col">Emailadres</th>
										<th scope="col">Telefoonnummer</th>
										<th scope="col">Woonplaats</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>Rik</td>
										<td>Lamers</td>
										<td>info@riklamers.com</td>
										<td>+31 6 29 05 64 35</td>
										<td>Geleen</td>
									</tr>
									<tr>
										<td colspan="2">Rik Lamers</td>
										<td>info@riklamers.com</td>
										<td>+31 6 29 05 64 35</td>
										<td>Geleen</td>
									</tr>
								</tbody>
							</table>
						</div>

						<div class="o-table--responsive">
							<table class="o-table o-table--border">
								<caption>Test</caption>
								<thead>
									<tr>
										<th scope="col">Voornaam</th>
										<th scope="col">Achternaam</th>
										<th scope="col">Emailadres</th>
										<th scope="col">Telefoonnummer</th>
										<th scope="col">Woonplaats</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>Rik</td>
										<td>Lamers</td>
										<td>info@riklamers.com</td>
										<td>+31 6 29 05 64 35</td>
										<td>Geleen</td>
									</tr>
									<tr>
										<td colspan="2">Rik Lamers</td>
										<td>info@riklamers.com</td>
										<td>+31 6 29 05 64 35</td>
										<td>Geleen</td>
									</tr>
								</tbody>
							</table>
						</div>

						<div class="o-table--responsive">
							<table class="o-table o-table--odd">
								<!-- <table class="o-table o-table--even"> -->
								<!-- <table class="o-table o-table--dark o-table--dark--odd"> -->
								<!-- <table class="o-table o-table--dark o-table--dark--even"> -->
								<caption>Test</caption>
								<thead>
									<tr>
										<th scope="col">Voornaam</th>
										<th scope="col">Achternaam</th>
										<th scope="col">Emailadres</th>
										<th scope="col">Telefoonnummer</th>
										<th scope="col">Woonplaats</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>Rik</td>
										<td>Lamers</td>
										<td>info@riklamers.com</td>
										<td>+31 6 29 05 64 35</td>
										<td>Geleen</td>
									</tr>
									<tr>
										<td colspan="2">Rik Lamers</td>
										<td>info@riklamers.com</td>
										<td>+31 6 29 05 64 35</td>
										<td>Geleen</td>
									</tr>
								</tbody>
							</table>
						</div>

						<div class="o-table--responsive">
							<table class="o-table">
								<caption>Test</caption>
								<thead>
									<tr class="o-table--error">
										<th scope="col">Voornaam</th>
										<th scope="col">Achternaam</th>
										<th scope="col">Emailadres</th>
										<th scope="col">Telefoonnummer</th>
										<th scope="col">Woonplaats</th>
									</tr>
								</thead>
								<tbody>
									<tr class="o-table--warning">
										<td>Rik</td>
										<td>Lamers</td>
										<td>info@riklamers.com</td>
										<td>+31 6 29 05 64 35</td>
										<td>Geleen</td>
									</tr>
									<tr class="o-table--success">
										<td colspan="2">Rik Lamers</td>
										<td>info@riklamers.com</td>
										<td>+31 6 29 05 64 35</td>
										<td>Geleen</td>
									</tr>
									<tr class="o-table--info">
										<td>Rik</td>
										<td>Lamers</td>
										<td>info@riklamers.com</td>
										<td>+31 6 29 05 64 35</td>
										<td>Geleen</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<div>
						<h1>Tabs</h1>
						<div class="o-tabs__mobile">
							<select>
								<option selected>Mobile tab 1</option>
								<option>Mobile tab 2</option>
								<option disabled>Mobile tab 3</option>
							</select>
						</div>

						<div class="o-tabs">
							<div class="o-tabs__item o-tabs__item--rounded is--active" data-id="test1">
								<div>tab 1</div>
							</div>
							<div class="o-tabs__item" data-id="test2">
								<div>tab 2</div>
							</div>
							<div class="o-tabs__item o-tabs__item--rounded" data-id="test3" disabled>
								<div>tab 3</div>
							</div>
						</div>
						<div class="o-tabs__content">
							<div id="test1" class="is--active">
								<p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec id elit non mi porta
									gravida at eget metus. Nullam quis risus eget urna mollis ornare vel eu leo. Morbi leo risus, porta ac consectetur
									ac, vestibulum at eros. Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>
								<p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec id elit non mi porta
									gravida at eget metus. Nullam quis risus eget urna mollis ornare vel eu leo. Morbi leo risus, porta ac consectetur
									ac, vestibulum at eros. Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>
								<p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec id elit non mi porta
									gravida at eget metus. Nullam quis risus eget urna mollis ornare vel eu leo. Morbi leo risus, porta ac consectetur
									ac, vestibulum at eros. Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>
							</div>
							<div id="test2">
								<p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec id elit non mi porta
									gravida at eget metus. Nullam quis risus eget urna mollis ornare vel eu leo. Morbi leo risus, porta ac consectetur
									ac, vestibulum at eros. Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>
								<p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec id elit non mi porta
									gravida at eget metus. Nullam quis risus eget urna mollis ornare vel eu leo. Morbi leo risus, porta ac consectetur
									ac, vestibulum at eros. Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>
							</div>
							<div id="test3">
								<p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec id elit non mi porta
									gravida at eget metus. Nullam quis risus eget urna mollis ornare vel eu leo. Morbi leo risus, porta ac consectetur
									ac, vestibulum at eros. Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>
							</div>
						</div>
					</div>
					<div>
						<h1>Textarea</h1>
						<label class="o-label">basic</label>
						<textarea placeholder="Basic"></textarea>

						<label class="o-label">Styling</label>
						<textarea class="o-textarea" placeholder="Some message..."></textarea>

						<label class="o-label">Resize gone</label>
						<textarea class="o-textarea o-textarea--resizenone" placeholder="Some message..." id="textarea"></textarea>

					</div>

				</div>
			</div>
		</main>

		<!-- START l-footer -->
		<footer id="l-footer">
		</footer>
		<!-- END l-footer -->

	</div>
</body>

</html>
