<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Stylesheet for project</title>
	<meta name="description" content="Description of the page less than 150 characters">
	<link rel="dns-prefetch" href="//use.fontawesome.com/">
	<script async src="./js/vendors/modernizr-custom.js"></script>
	<script async src="./js/vendors/detectizr.min.js"></script>
	<script async defer src="https://use.fontawesome.com/releases/v5.0.2/js/all.js"></script>
</head>

<body>
	<div id="l-wrapper">

		<!-- START m-topbar -->
		<div class="m-topbar"></div>
		<!-- END m-topbar -->

		<!-- START l-header -->
		<header id="l-header" role="banner">

		</header>
		<!-- END l-header -->


		<main id="l-content">
			<div class="l-container">
				<h1>Dummy tekst</h1>
				<h2>Dummy tekst</h2>
				<h3>Dummy tekst</h3>
				<h4>Dummy tekst</h4>
				<h5>Dummy tekst</h5>
				<h6>Dummy tekst</h6>

				<br/>
				<br/>

				<h1>Dummy tekst</h1>
				<p>Cum sociis natoque penatibus et magnis dis
					<em>parturient montes,</em> nascetur ridiculus mus. Donec ullamcorper nulla non metus auctor fringilla. Maecenas faucibus
					mollis interdum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam quis risus
					eget urna mollis ornare vel eu leo. Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus
					et magnis dis parturient montes, nascetur ridiculus mus.</p>
				<h2>Dummy tekst</h2>
				<p>Cum sociis natoque penatibus et magnis
					<i>dis parturient montes,</i> nascetur ridiculus mus. Donec ullamcorper nulla non metus auctor fringilla. Maecenas faucibus
					mollis interdum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam quis risus
					eget urna mollis ornare vel eu leo. Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus
					et magnis dis parturient montes, nascetur ridiculus mus.</p>
				<h3>Dummy tekst</h3>
				<p>Cum sociis natoque penatibus et magnis
					<a>dis parturient montes,</a> nascetur ridiculus mus. Donec ullamcorper nulla non metus auctor fringilla. Maecenas faucibus
					mollis interdum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam quis risus
					eget urna mollis ornare vel eu leo. Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus
					et magnis dis parturient montes, nascetur ridiculus mus.</p>
				<!-- <img src="../img/heroimage.jpg" alt="" /> -->
				<p>Cum sociis natoque penatibus et magnis
					<a>dis parturient montes,</a> nascetur ridiculus mus. Donec ullamcorper nulla non metus auctor fringilla. Maecenas faucibus
					mollis interdum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam quis risus
					eget urna mollis ornare vel eu leo. Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus
					et magnis dis parturient montes, nascetur ridiculus mus.</p>
				<!-- <img src="../img/heroimage.jpg" alt="" /> -->
				<h4>Dummy tekst</h4>
				<p>Cum sociis natoque penatibus et magnis
					<b>dis parturient montes, nascetur ridiculus mus. Donec ullamcorper nulla non metus auctor fringilla.</b> Maecenas faucibus
					mollis interdum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam quis risus
					eget urna mollis ornare vel eu leo. Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus
					et magnis dis parturient montes, nascetur ridiculus mus.</p>
				<h5>Dummy tekst</h5>
				<p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec ullamcorper nulla non metus
					auctor fringilla. Maecenas faucibus mollis interdum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
					ridiculus mus. Nullam quis risus eget urna mollis ornare vel eu leo. Nullam quis risus eget urna mollis ornare vel eu
					leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
				<h6>Dummy tekst</h6>
				<p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec ullamcorper nulla non metus
					auctor fringilla. Maecenas faucibus mollis interdum. Cum sociis natoque penatibus et magnis dis parturient montes,
					<strong>nascetur ridiculus mus. Nullam quis risus eget urna mollis ornare vel eu leo.</strong> Nullam quis risus eget urna mollis
					ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>

				<ul>
					<li>Tellus</li>
					<li>Tellus</li>
					<li>Tellus</li>
					<li>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec ullamcorper nulla non metus
						auctor fringilla. Maecenas faucibus mollis interdum. Cum sociis natoque penatibus et magnis dis parturient montes,
						nascetur ridiculus mus.</li>
					<li>Tellus</li>
				</ul>
			</div>
		</main>
	</div>
</body>

</html>
