<!-- Base form -->
<form class="o-form">
	<label class="o-label">Voornaam:</label>
	<input type="text" placeholder="Voornaam" />

	<label class="o-label">Achternaam</label>
	<input type="text" placeholder="Achternaam" />

	<label class="o-label">E-mailadres</label>
	<input type="email" placeholder="E-mailadres" />

	<label class="o-label o-label--left">Wachtwoord</label>
	<input class="o-inputfield o-inputfield--secondary" type="password" placeholder="Wachtwoord" />

	<label class="o-label o-label--rounded">Woonplaats</label>
	<input class="o-inputfield o-inputfield--rounded" type="text" placeholder="Woonplaats" />

	<button class="o-btn o-btn--primary">Verstuur</button>
</form>

<!-- Form with border + rounded corners -->
<form class="o-form o-form--border o-form--rounded">
	<label class="o-label">Voornaam:</label>
	<input type="text" placeholder="Voornaam" />

	<label class="o-label">Achternaam</label>
	<input type="text" placeholder="Achternaam" />

	<label class="o-label">E-mailadres</label>
	<input type="email" placeholder="E-mailadres" />

	<label class="o-label o-label--left">Wachtwoord</label>
	<input class="o-inputfield o-inputfield--secondary" type="password" placeholder="Wachtwoord" />

	<label class="o-label o-label--rounded">Woonplaats</label>
	<input class="o-inputfield o-inputfield--rounded" type="text" placeholder="Woonplaats" />

	<button class="o-btn o-btn--primary">Verstuur</button>
</form>
