<div class="m-instagram">
    <div class="m-instagram__topbar">
        <div class="l-row">
            <div class="l-col-3">
                <img src="/img/instagram/camera.svg" />
            </div>
            <div class="l-col-6">
                <img class="m-instagram__topbar--logo" src="/img/instagram/instagram.svg" />
            </div>
            <div class="l-col-3">
                <img src="/img/instagram/dm.svg" />
            </div>
        </div>
    </div>
    <div class="m-instagram__profilebar">
        <div class="l-row">
            <div class="l-col-3">
                <div class="m-instagram__photocontainer">
                    <img class="m-instagram__profilepic" src="/img/instagram/profilepic.png" />
                </div>
            </div>
            <div class="l-col-6">
                <div class="m-instagram__profilemeta">
                    <p>SintServaasOfficial_</p>
                    <p>Tongeren, Belgium</p>
                </div>
            </div>
            <div class="l-col-3">
                <div class="m-instagram__settings">
                    <img src="/img/instagram/settings.svg" />
                </div>
            </div>
        </div>
    </div>
    <div class="m-instagram__photo">
        <img src="/img/instagram/instagrampost.png" />
    </div>
    <div class="m-instagram__interactbar">
        <div class="l-row">
            <div class="l-col-5">
                <img class="m-instagram__like" src="/img/instagram/like.svg" />
                <img src="/img/instagram/comment.svg" />
                <img src="/img/instagram/dm.svg" />
            </div>
            <div class="l-col-4"></div>
            <div class="l-col-3">
                <div class="m-instagram__bookmark">
                    <img src="/img/instagram/bookmark.svg" />
                </div>
            </div>
        </div>
    </div>
    <div class="m-instagram__description">
        <div class="l-row">
            <div class="l-col-12">
                <p>Liked by <strong>ChristenSletjes</strong> and <strong>769 others</strong></p>
            </div>
        </div>
        <div class="l-row">
            <div class="l-col-12">
                <p><strong>SintServaasOfficial_</strong> Just hanging out here, You know how we rooooooolllll. 😂</p>
            </div>
        </div>
        <div class="l-row">
            <div class="l-col-12">
                <p class="m-instagram__description--viewall">View all 69 comments</p>
            </div>
        </div>
        <div class="l-row">
            <div class="l-col-12">
                <p><strong>SintServaasOfficial_</strong> Dank uch <i>@ChristenSletjes</i></p>
            </div>
        </div>
    </div>
    <div class="m-instagram__meta">
        <div class="l-row">
            <div class="l-col-12">
                <p>69 minutes ago</p>
            </div>
        </div>
    </div>
</div>