<div class="m-instagram">
    <div class="m-instagram__topbar">
        <div class="l-row">
            <div class="l-col-3">
                <img src="/img/instagram/camera.svg" />
            </div>
            <div class="l-col-6">
                <img class="m-instagram__topbar--logo" src="/img/instagram/instagram.svg" />
            </div>
            <div class="l-col-3">
                <img src="/img/instagram/dm.svg" />
            </div>
        </div>
    </div>
    <div class="m-instagram__profilebar">
        <div class="l-row">
            <div class="l-col-3">
                <div class="m-instagram__photocontainer">
                    <img class="m-instagram__profilepic" />
                </div>
            </div>
            <div class="l-col-6">
                <div class="m-instagram__profilemeta">
                    <p class="m-instagram__profilename"></p>
                    <p id="m-instagram__location"></p>
                </div>
            </div>
            <div class="l-col-3">
                <div class="m-instagram__settings">
                    <img src="/img/instagram/settings.svg" />
                </div>
            </div>
        </div>
    </div>
    <div class="m-instagram__photo">
        <img id="m-instagram__photo" />
    </div>
    <div class="m-instagram__interactbar">
        <div class="l-row">
            <div class="l-col-5">
                <img class="m-instagram__like" src="/img/instagram/like.svg" />
                <img src="/img/instagram/comment.svg" />
                <img src="/img/instagram/dm.svg" />
            </div>
            <div class="l-col-4"></div>
            <div class="l-col-3">
                <div class="m-instagram__bookmark">
                    <img src="/img/instagram/bookmark.svg" />
                </div>
            </div>
        </div>
    </div>
    <div class="m-instagram__description">
        <div class="l-row">
            <div class="l-col-12">
                <p>Liked by <strong id="m-instagram__likedby"></strong> and <strong id="m-instagram__others"></strong></p>
            </div>
        </div>
        <div class="l-row">
            <div class="l-col-12">
                <p><strong class="m-instagram__profilename"></strong> <span id="m-instagram__postcomment"></span></p>
            </div>
        </div>
        <div class="l-row">
            <div class="l-col-12">
                <p class="m-instagram__description--viewall">View all <span id="m-instagram__allcomments"></span> comments</p>
            </div>
        </div>
        <div class="l-row">
            <div class="l-col-12">
                <p><strong id="m-instagram__commentby"></strong> <span id="m-instagram__comment"></span></p>
            </div>
        </div>
    </div>
    <div class="m-instagram__meta">
        <div class="l-row">
            <div class="l-col-12">
                <p><span id="m-instagram__timestamp"></span> minutes ago</p>
            </div>
        </div>
    </div>
</div>