/* =============================================================================
	FILE PATHS
============================================================================= */

$file-path-images: './assets/img/';
$file-path-fonts: './assets/fonts/';
$file-path-svgs: './assets/icons/';
