<div class="m-twitter">
    <div class="m-twitter__header">
        <div class="l-row">
            <div class="l-col-2">
                <i class="fas fa-angle-left"></i>
            </div>
            <div class="l-col-8">
                <p>Thread</p>
            </div>
            <div class="l-col-2"></div>
        </div>
    </div>
    <div class="m-twitter__content">
        <div class="l-container">
            <div class="m-twitter__profile">
                <div class="l-row">
                    <div class="l-col-3">
                        <div class="m-twitter__profilepic"></div>
                    </div>
                    <div class="l-col-7">
                        <div class="l-row">
                            <div class="l-col-12">
                                <div class="m-twitter__profile--name">
                                    Sint Servaas
                                </div>
                            </div>
                            <div class="l-row">
                                <div class="l-col-12">
                                    <div class="m-twitter__profile--handle">
                                        @SintServaasOfficial_
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="l-col-2">
                        <i class="fas fa-angle-down"></i>
                    </div>
                </div>
            </div>
            <div class="m-twitter__post">
                <div class="l-row">
                    <div class="l-col-12">
                        <p>Vestibulum id <i>#ligula</i> porta felis euismod semper. Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
                    </div>
                </div>
                <div class="l-row">
                    <div class="l-col-12">
                        <img src="/img/twitter/example.png" />
                    </div>
                </div>
            </div>
            <div class="m-twitter__meta">
                <div class="l-row">
                    <div class="l-col-12">
                        <p>01/10/2018, 12:00</p>
                    </div>
                </div>
            </div>
            <div class="m-twitter__likes">
                <div class="l-row">
                    <div class="l-col-12">
                        <div class="m-twitter__like">69</div> Likes
                    </div>
                </div>
            </div>
        </div>
        <div class="m-twitter__interaction">
            <div class="l-container">
                <div class="l-row">
                        <div class="l-col-3">
                            <i class="far fa-comment"></i>
                        </div>
                        <div class="l-col-3">
                            <i class="fas fa-retweet"></i>
                        </div>
                        <div class="l-col-3">
                            <i class="far fa-heart"></i>
                        </div>
                        <div class="l-col-3">
                            <i class="fas fa-share-square"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="m-twitter__comments">
            <div class="m-twitter__comment">
                <div class="l-container">
                    <div class="l-row">
                        <div class="l-col-3">
                            <div class="m-twitter__profilepic"></div>
                        </div>
                        <div class="l-col-7">
                            <div class="l-row">
                                <div class="l-row">
                                    <div class="l-col-12">
                                        <div class="m-twitter__profile--name">
                                            Sint Servaas
                                        </div>
                                    </div>
                                </div>
                                <div class="l-row">
                                    <div class="l-col-12">
                                        <div class="m-twitter__profile--handle">
                                            @SintServaasOfficial_
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="l-col-2">
                            <i class="fas fa-angle-down"></i>
                        </div>
                    </div>
                    <div class="l-row">
                        <div class="l-col-12">
                            <div class="m-twitter__reply">
                                <p>Vestibulum id <i>#ligula</i> porta felis euismod semper. Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="m-twitter__comment">
                <div class="l-container">
                    <div class="l-row">
                        <div class="l-col-3">
                            <div class="m-twitter__profilepic"></div>
                        </div>
                        <div class="l-col-7">
                            <div class="l-row">
                                <div class="l-row">
                                    <div class="l-col-12">
                                        <div class="m-twitter__profile--name">
                                            Sint Servaas
                                        </div>
                                    </div>
                                </div>
                                <div class="l-row">
                                    <div class="l-col-12">
                                        <div class="m-twitter__profile--handle">
                                            @SintServaasOfficial_
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="l-col-2">
                            <i class="fas fa-angle-down"></i>
                        </div>
                    </div>
                    <div class="l-row">
                        <div class="l-col-12">
                            <div class="m-twitter__reply">
                                <p>Vestibulum id <i>#ligula</i> porta felis euismod semper. Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>