<!-- Base inputfield -->
<input type="date" class="o-inputfield o-inputfield--primary" />
<input type="time" class="o-inputfield o-inputfield--primary" />
<input type="datetime-local" class="o-inputfield o-inputfield--primary" />
<input type="month" class="o-inputfield o-inputfield--primary" />
<input type="text" placeholder="basic" />

<!-- Rounded inputfield -->
<label class="o-label o-label--rounded" for="test">Test</label>
<input type="text" class="o-inputfield o-inputfield--primary o-inputfield--rounded" id="test" placeholder="input" />
