@charset "UTF-8";

/* =============================================================================
	CONFIG
============================================================================= */

$module-name: 'navigation';

$slashUrl: './assets/img/slash.svg';

/* =============================================================================
	BASE
============================================================================= */

.m-#{$module-name} {

}

.m-#{$module-name}.is--active {
	display: block;
}
