<div class="m-mobile-interface m-mobile-interface__bg">
    <div class="m-mobile-interface__topbar">
        <div class="l-row">
            <div class="l-col-4">
                <div class="m-mobile-interface__dot"></div>
                <div class="m-mobile-interface__dot"></div>
                <div class="m-mobile-interface__dot"></div>
                <div class="m-mobile-interface__dot"></div>
                <div class="m-mobile-interface__dot"></div>
                <div class="m-mobile-interface__connection">
                    <i class="fas fa-wifi"></i>
                </div>
            </div>
            <div class="l-col-4">
                <div class="m-mobile-interface__time">Time</div>
            </div>
            <div class="l-col-4">
                <div class="m-mobile-interface__battery">
                    <div class="m-mobile-interface__battfiller"></div>
                    <i class="fas fa-battery-empty"></i>
                </div>
                <div class="m-mobile-interface__progression">%</div>
            </div>
        </div>
    </div>
    <div class="m-mobile-interface__content">
        <div class="l-row">
            <div class="l-col-3">
                <div class="m-mobile-interface__apps">
                    <a href="#">
                        <img src="/img/facebook.svg">
                    </a>
                    <p>Facebook</p>
                </div>
            </div>
            <div class="l-col-3">
                <div class="m-mobile-interface__apps">
                    <a href="#">
                        <img src="/img/twitter.svg">
                    </a>
                    <p>Twitter</p>
                </div>
            </div>
            <div class="l-col-3">
                <div class="m-mobile-interface__apps">
                    <a href="#">
                        <img src="/img/whatsapp.svg">
                    </a>
                    <p>Whatsapp</p>
                </div>
            </div>
            <div class="l-col-3">
                <div class="m-mobile-interface__apps">
                    <a href="#">
                        <img src="/img/instagram.svg">
                    </a>
                    <p>Instagram</p>
                </div>
            </div>
        </div>
        <div class="l-row">
            <div class="l-col-3">
                <div class="m-mobile-interface__apps">
                    <a href="#">
                        <img src="/img/facebook.svg">
                    </a>
                    <p>Facebook</p>
                </div>
            </div>
            <div class="l-col-3">
                <div class="m-mobile-interface__apps">
                    <a href="#">
                        <img src="/img/twitter.svg">
                    </a>
                    <p>Twitter</p>
                </div>
            </div>
            <div class="l-col-3">
                <div class="m-mobile-interface__apps">
                    <a href="#">
                        <img src="/img/whatsapp.svg">
                    </a>
                    <p>Whatsapp</p>
                </div>
            </div>
            <div class="l-col-3">
                <div class="m-mobile-interface__apps">
                    <a href="#">
                        <img src="/img/instagram.svg">
                    </a>
                    <p>Instagram</p>
                </div>
            </div>
        </div>
        <div class="l-row">
            <div class="l-col-3">
                <div class="m-mobile-interface__apps">
                    <a href="#">
                        <img src="/img/facebook.svg">
                    </a>
                    <p>Facebook</p>
                </div>
            </div>
            <div class="l-col-3">
                <div class="m-mobile-interface__apps">
                    <a href="#">
                        <img src="/img/twitter.svg">
                    </a>
                    <p>Twitter</p>
                </div>
            </div>
            <div class="l-col-3">
                <div class="m-mobile-interface__apps">
                    <a href="#">
                        <img src="/img/whatsapp.svg">
                    </a>
                    <p>Whatsapp</p>
                </div>
            </div>
            <div class="l-col-3">
                <div class="m-mobile-interface__apps">
                    <a href="#">
                        <img src="/img/instagram.svg">
                    </a>
                    <p>Instagram</p>
                </div>
            </div>
        </div>
        <div class="l-row">
            <div class="l-col-3">
                <div class="m-mobile-interface__apps">
                    <a href="#">
                        <img src="/img/facebook.svg">
                    </a>
                    <p>Facebook</p>
                </div>
            </div>
            <div class="l-col-3">
                <div class="m-mobile-interface__apps">
                    <a href="#">
                        <img src="/img/twitter.svg">
                    </a>
                    <p>Twitter</p>
                </div>
            </div>
            <div class="l-col-3">
                <div class="m-mobile-interface__apps">
                    <a href="#">
                        <img src="/img/whatsapp.svg">
                    </a>
                    <p>Whatsapp</p>
                </div>
            </div>
            <div class="l-col-3">
                <div class="m-mobile-interface__apps">
                    <a href="#">
                        <img src="/img/instagram.svg">
                    </a>
                    <p>Instagram</p>
                </div>
            </div>
        </div>
    </div>
    <div class="m-mobile-interface__hotbar">
        <div class="m-mobile-interface__blur"></div>
        <div class="l-row">
            <div class="l-col-3">
                <div class="m-mobile-interface__apps">
                    <a href="#">
                        <img src="/img/facebook.svg">
                    </a>
                    <p>Facebook</p>
                </div>
            </div>
            <div class="l-col-3">
                <div class="m-mobile-interface__apps">
                    <a href="#">
                        <img src="/img/twitter.svg">
                    </a>
                    <p>Twitter</p>
                </div>
            </div>
            <div class="l-col-3">
                <div class="m-mobile-interface__apps">
                    <a href="#">
                        <img src="/img/whatsapp.svg">
                    </a>
                    <p>Whatsapp</p>
                </div>
            </div>
            <div class="l-col-3">
                <div class="m-mobile-interface__apps">
                    <a href="#">
                        <img src="/img/instagram.svg">
                    </a>
                    <p>Instagram</p>
                </div>
            </div>
        </div>
    </div>
</div>





<!-- TOPBAR ONLY! -->

<div class="m-mobile-interface">
    <div class="m-mobile-interface__topbar">
        <div class="l-row">
            <div class="l-col-4">
                <div class="m-mobile-interface__dot"></div>
                <div class="m-mobile-interface__dot"></div>
                <div class="m-mobile-interface__dot"></div>
                <div class="m-mobile-interface__dot"></div>
                <div class="m-mobile-interface__dot"></div>
                <div class="m-mobile-interface__connection">
                    <i class="fas fa-wifi"></i>
                </div>
            </div>
            <div class="l-col-4">
                <div class="m-mobile-interface__time">Time</div>
            </div>
            <div class="l-col-4">
                <div class="m-mobile-interface__battery">
                    <div class="m-mobile-interface__battfiller"></div>
                    <i class="fas fa-battery-empty"></i>
                </div>
                <div class="m-mobile-interface__progression">%</div>
            </div>
        </div>
    </div>
</div>