<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Base Project</title>
	<meta name="description" content="Description of the page less than 150 characters">
	<link rel="dns-prefetch" href="//use.fontawesome.com/">
	<script async src="../js/vendors/modernizr-custom.js"></script>
	<script async src="../js/vendors/detectizr.min.js"></script>
	<script async defer src="https://use.fontawesome.com/releases/v5.0.2/js/all.js"></script>

	<!--GO TO https://realfavicongenerator.net/ TO GENERATE THE FAVICON FILES-->
	<link rel="apple-touch-icon" sizes="57x57" href="../img/favicons/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="../img/favicons/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="../img/favicons/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="../img/favicons/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="../img/favicons/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="../img/favicons/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="../img/favicons/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="../img/favicons/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192" href="../img/favicons/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="../img/favicons/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="../img/favicons/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="../img/favicons/favicon-16x16.png">
	<link rel="manifest" href="../img/favicons/manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="../img/favicons/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">
</head>

<body class="meropedia">
	<div id="l-wrapper">

		<header id="l-header" role="banner">
			<div class="l-container">
				<a href="/info/index.html">
					<div class="o-logo o-logo--img"></div>
					<span class="sr-only">Meropedia</span>
				</a>
				<nav id="home" class="m-navigation">
					<button class="o-hamburger o-hamburger--squeeze m-navigation__toggle float-right" type="button" aria-label="Toggle main navigation"
					aria-expanded="false">
						<span class="o-hamburger-box">
							<span class="o-hamburger-inner" />
						</span>
					</button>
					<ul class="m-navigation__list">
							<li class="m-navigation__item m-navigation__item--chapter">
								Introductie
							</li>
								<li class="m-navigation__item">
									<a href="/meropedia/introduction/introduction.html">Introductie</a>
								</li>
								<li class="m-navigation__item">
									<a href="/meropedia/introduction/koning-clovis.html">Koning Clovis</a>
								</li>
								<li class="m-navigation__item">
									<a href="/meropedia/introduction/sint-servaas.html">Sint Servaas</a>
								</li>
							<li class="m-navigation__item m-navigation__item--chapter">
								Hoofdstuk 1
							</li>
								<li class="m-navigation__item">
									<a href="/meropedia/chapter1/bisschop.html">Bisschop</a>
								</li>
								<li class="m-navigation__item">
									<a href="/meropedia/chapter1/centre-ceramique.html">Centre Céramique</a>
								</li>
								<li class="m-navigation__item">
									<a href="/meropedia/chapter1/pater.html">Pater</a>
								</li>
								<li class="m-navigation__item">
									<a href="/meropedia/chapter1/priester.html">Priester</a>
								</li>
								<li class="m-navigation__item">
									<a href="/meropedia/chapter1/titels-in-het-christendom.html">Titels in het christendom</a>
								</li>
							<li class="m-navigation__item m-navigation__item--chapter">
								Hoofdstuk 2
							</li>
								<li class="m-navigation__item">
									<a href="/meropedia/chapter2/bril.html">Bril</a>
								</li>
								<li class="m-navigation__item">
									<a href="/meropedia/chapter2/maas.html">Maas</a>
								</li>
								<li class="m-navigation__item">
									<a href="/meropedia/chapter2/wonder-sint-servaas.html">Wonder Sint Servaas</a>
								</li>
								<li class="m-navigation__item">
									<a href="/meropedia/chapter2/zwerver.html">Zwerver</a>
								</li>
							<li class="m-navigation__item m-navigation__item--chapter">
								Hoofdstuk 3
							</li>
								<li class="m-navigation__item">
									<a href="/meropedia/chapter3/kleding.html">Kleding</a>
								</li>
								<li class="m-navigation__item">
									<a href="/meropedia/chapter3/kleermakerij.html">Kleermakerij</a>
								</li>
							<li class="m-navigation__item m-navigation__item--chapter">
								Hoofdstuk 4
							</li>
								<li class="m-navigation__item">
									<a href="/meropedia/chapter4/economie.html">Economie</a>
								</li>
								<li class="m-navigation__item">
									<a href="/meropedia/chapter4/ijzer-smid.html">Ijzer smid</a>
								</li>
								<li class="m-navigation__item">
									<a href="/meropedia/chapter4/olv-plein.html">O.L.V. Plein</a>
								</li>
							<li class="m-navigation__item m-navigation__item--chapter">
								Hoofdstuk 5
							</li>
								<li class="m-navigation__item">
									<a href="/meropedia/chapter5/basiliek.html">Basiliek</a>
								</li>
								<li class="m-navigation__item">
									<a href="/meropedia/chapter5/duivelsuitdrijving.html">Duivelsuitdrijving</a>
								</li>
								<li class="m-navigation__item">
									<a href="/meropedia/chapter5/sleutel.html">Sleutel</a>
								</li>
								<li class="m-navigation__item">
									<a href="/meropedia/chapter5/vrijthof.html">Vrijthof</a>
								</li>
								<li class="m-navigation__item">
									<a href="/meropedia/chapter5/Wonder.html">Wonder</a>
								</li>
							<li class="m-navigation__item m-navigation__item--chapter">
								Hoofdstuk 6
							</li>
								<li class="m-navigation__item">
									<a href="/meropedia/chapter6/geld.html">Geld</a>
								</li>
								<li class="m-navigation__item">
									<a href="/meropedia/chapter6/gezegende-producten.html">Gezegende Producten</a>
								</li>
								<li class="m-navigation__item">
									<a href="/meropedia/chapter6/markt.html">Markt</a>
								</li>
								<li class="m-navigation__item">
									<a href="/meropedia/chapter6/voedsel.html">Voedsel</a>
								</li>
							<li class="m-navigation__item m-navigation__item--chapter">
								Hoofdstuk 7
							</li>
								<li class="m-navigation__item">
									<a href="/meropedia/chapter7/oude-brug.html">Oude brug</a>
								</li>
							<li class="m-navigation__item m-navigation__item--chapter">
								Hoofdstuk 8
							</li>
								<li class="m-navigation__item">
									<a href="/meropedia/chapter8/prostitutie.html">Prostitutie</a>
								</li>
								<li class="m-navigation__item">
									<a href="/meropedia/chapter8/sociale-leven.html">Sociale leven</a>
								</li>
								<li class="m-navigation__item">
									<a href="/meropedia/chapter8/wyck.html">Wyck</a>
								</li>
							<li class="m-navigation__item m-navigation__item--chapter">
								Hoofdstuk 9
							</li>
								<li class="m-navigation__item">
									<a href="/meropedia/chapter9/brouwerij-merovingen.html">Brouwerij Merovingen</a>
								</li>
								<li class="m-navigation__item">
									<a href="/meropedia/chapter9/dranken.html">Dranken</a>
								</li>
								<li class="m-navigation__item">
									<a href="/meropedia/chapter9/stafsbrouwerij.html">Stadsbrouwerij</a>
								</li>
							<li class="m-navigation__item m-navigation__item--chapter">
								Hoofdstuk 10
							</li>
								<li class="m-navigation__item">
									<a href="/meropedia/chapter10/criminaliteit.html">Criminaliteit</a>
								</li>
								<li class="m-navigation__item">
									<a href="/meropedia/chapter10/judas.html">Judas</a>
								</li>
								<li class="m-navigation__item">
									<a href="/meropedia/chapter10/maaspunttoren.html">Maaspunttoren</a>
								</li>
							<li class="m-navigation__item m-navigation__item--chapter">
								Hoofdstuk 11
							</li>
								<li class="m-navigation__item">
									<a href="/meropedia/chapter11/geschiedenis.html">Geschiedenis</a>
								</li>
								<li class="m-navigation__item">
									<a href="/meropedia/chapter11/invloed-christendom.html">Invloed christendom</a>
								</li>
								<li class="m-navigation__item">
									<a href="/meropedia/chapter11/volksverhuizing.html">Volksverhuizing</a>
								</li>
						</ul>
				</nav>
			</div>
		</header>

		<main id="l-content">
			<div class="l-container">
				<div class="m-meropedia">
					<div class="l-row">
						<div class="l-col-12">
							<h2 id="game">Hoofdstuk 8: Sociale leven in de Merovingische tijd</h2>
						</div>
					</div>
					<div class="l-row">
						<div class="l-col-12">
							<p class="m-meropedia__subtitle">Gedurende de hele middeleeuwen was de maatschappij verdeeld in drie standen: geestelijkheid, adel en de boeren. Tot welke stand men behoorde, werd door geboorte bepaald. Men kon alleen uit zijn stand geraken door geestelijke te worden. Het rechtssysteem verwaterde in deze tijd; elke stam volgde zijn eigen gewoonterecht. De Frankische vorsten reisden met heel hun gevolg van palts tot palts om de belastingen te innen en op te eten, en om recht te spreken. Het ontbreken van een duidelijk machtscentrum kwam de eenheid van het bestuur niet ten goede. Na Karel de Grote verloren de koningen hun controle over de lokale machthebbers, de graven en hertogen. Gedurende de vroege middeleeuwen nam de geletterdheid sterk af. Karel de Grote bevorderde het stichten van scholen in zijn rijk, waardoor de geletterdheid weer enigszins toenam. Toch moet men zich van deze Karolingische renaissance niet al te veel voorstellen.</p>
						</div>
					</div>
					<div class="l-row">
						<div class="l-col-12">
							<p>In de vroege middeleeuwen was ongeveer 90% van de bevolking boer. De boeren waren doorgaans arm en ondervoed. Het leven was "wreed, hard en kort". Adel en Kerk hadden veel macht. Omdat iedereen lid was van de Kerk, konden de geestelijken iedereen via de preekstoel beïnvloeden. Kerkelijke gezagsdragers waren vrijwel de enigen die konden lezen en schrijven, wat hun machtspositie nog vergrootte. Het aardse bestaan was in de middeleeuwen van ondergeschikt belang en het hele leven was gericht op het hiernamaals. De angst om in de hel te komen, maakte de mensen onderdanig aan de machthebbers.</p>
						</div>
					</div>
					<div class="l-row">
						<div class="l-col-12">
							<p>De boeren moesten de ene keer op het land werken en de andere keer meedoen aan een van de vele oorlogen waarin ze moesten moorden en plunderen. Dat gingen ze 'thuis' ook doen: ze sloegen elkaar om de minste belediging de koppen in. Een moord moest gewroken worden (bloedwraak) en die moord ook weer etcetera. Zo onstonden er langdurige vetes. De maatschappij was doordrenkt met geweld en de meeste mannen werden niet erg oud. Feitelijk regeerde alleen het recht van de sterkste. Om het ontstaan van vetes tegen te gaan, was er een rechtspraak waarin iedere misdaad nauwkeurig werd omschreven samen met een boete: het weergeld. Als de (familie van) de dader die aan (de familie van) het slachtoffer betaalde, was de eer van het slachtoffer hersteld en hoefde er geen wraak genomen te worden.</p>
						</div>
					</div>
					<div class="l-row">
						<div class="l-col-12">
							<p>De mensen leefden in uitgebreide families (parenteles) van soms wel tientallen mensen. Men was hier afhankelijk van en ze boden bescherming. Er was nauwelijks enig staatsgezag dat de mensen hielp of beschermde. Iedereen vond zijn eigen leven en zijn eigen bezit het voornaamste. Bezit was heel belangrijk voor de Germanen dus diefstal vonden ze bijzonder ernstig. Diefstal werd regelmatig met de dood bestraft terwijl moord met een weergeld kon worden afgekocht.</p>
						</div>
					</div>

					<div class="l-row">
						<div class="l-col-12">
							<div class="m-meropedia__sources">
								<div>
									<i>Gebruikte links</i>
								</div>
								<a href="https://nl.wikipedia.org/wiki/Middeleeuwen#Sociale_geschiedenis" target="_blank">https://nl.wikipedia.org/wiki/Middeleeuwen#Sociale_geschiedenis</a>
								<a href="https://nl.wikibooks.org/wiki/Sociale_geschiedenis_van_de_vroege_middeleeuwen/Inleiding" target="_blank">https://nl.wikibooks.org/wiki/Sociale_geschiedenis_van_de_vroege_middeleeuwen/Inleiding</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>

		<footer class="m-meropedia__footer" id="l-footer">
			<div class="l-row">
				<div class="l-col-12 l-col-sm-4">
					<a href="/meropedia/chapter6/prostitutie.html"><i class="fas fa-long-arrow-alt-left"></i> Vorig topic</a>
				</div>
				<div class="l-col-12 l-col-sm-4">
					<img class="m-meropedia__footer" src="/img/meropedia-logo.svg" />
				</div>
				<div class="l-col-12 l-col-sm-4">
					<!-- <a href="/meropedia/chapter6/sociale-leven.html">Volgend topic <i class="fas fa-long-arrow-alt-right"></i></a> -->
				</div>
			</div>
		</footer>

	</div>
</body>

</html>
