<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Base Project</title>
	<meta name="description" content="Description of the page less than 150 characters">
	<link rel="dns-prefetch" href="//use.fontawesome.com/">
	<script async src="../js/vendors/modernizr-custom.js"></script>
	<script async src="../js/vendors/detectizr.min.js"></script>
	<script async defer src="https://use.fontawesome.com/releases/v5.0.2/js/all.js"></script>

	<!--GO TO https://realfavicongenerator.net/ TO GENERATE THE FAVICON FILES-->
	<link rel="apple-touch-icon" sizes="57x57" href="../img/favicons/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="../img/favicons/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="../img/favicons/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="../img/favicons/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="../img/favicons/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="../img/favicons/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="../img/favicons/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="../img/favicons/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192" href="../img/favicons/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="../img/favicons/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="../img/favicons/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="../img/favicons/favicon-16x16.png">
	<link rel="manifest" href="../img/favicons/manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="../img/favicons/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">
</head>

<body class="merovinger">
	<div id="o-notification" class="o-notification">
		<a id="o-notification__link" href="#">
			<div class="l-container">
				<div class="l-row">
					<div class="l-col-12">
						<img id="o-notification__app" width="20px" height="20px;" />
						<span id="o-notification__apptext"></span>
					</div>
				</div>
				<div class="l-row">
					<div class="l-col-12">
						<strong id="o-notification__from"></strong>
					</div>
				</div>
				<div class="l-row">
					<div class="l-col-12">
						<p id="o-notification__text"></p>
					</div>
				</div>
			</div>
		</a>
	</div>
	<div class="m-merovinger__bg"></div>
	<div id="l-wrapper">

		<header id="l-header" role="banner">
			<div class="l-container">
				<a href="/info/index.html">
					<div class="o-logo o-logo--img"></div>
					<span class="sr-only">Merovinger</span>
				</a>
				<nav id="home" class="m-navigation">
					<button class="o-hamburger o-hamburger--squeeze m-navigation__toggle float-right" type="button" aria-label="Toggle main navigation"
					aria-expanded="false">
						<span class="o-hamburger-box">
							<span class="o-hamburger-inner" />
						</span>
					</button>
					<ul class="m-navigation__list">
						<li class="m-navigation__item">
							<a href="#home">Home</a>
						</li>
						<li class="m-navigation__item">
							<a href="#game">Game</a>
						</li>
						<li class="m-navigation__item">
							<a href="#merovingen">Merovingen</a>
						</li>
					</ul>
				</nav>
			</div>
		</header>

		<main id="l-content">
			<div class="l-container">
				<div class="m-merovinger">
					<div class="l-row">
						<div class="l-col-12">
							<h2 id="game">Blinde zwerver kan weer zien dankzij St. Servaas</h2>
						</div>
					</div>
					<div class="l-row">
						<div class="l-col-12">
							<p><strong>MAASTRICHT – De afgelopen dagen deed zich het verhaal de rondte over een zwerver die meermaals bijna in de Maas zou zijn gevallen omdat hij niets zag. Nu blijkt zich een waar wonder te hebben voltrokken want de zwerver kan weer zien.</strong></p>
						</div>
					</div>
					<div class="l-row">
						<div class="l-col-12">
							<p>De zwerver, die volgens ooggetuige al langer langs de oevers van de Maas struinde, is de afgelopen dagen meermaals dichtbij een fatale aanraking met het koude Maaswater gekomen. Omwonende beweren dat hij tot wel 5 keer toe ternauwernood zijn vege lijf heeft kunnen redden. </p>
						</div>
					</div>
					<div class="l-row">
						<div class="l-col-12">
							<h4>Aan zijn lot overgelaten</h4>
						</div>
					</div>
					<div class="l-row">
						<div class="l-col-12">
							<p>Hoewel verscheiden burgers het herhaaldelijke voorval hebben gadegeslagen is er niemand geweest die een helpende hand heeft toegereikt. Een getuige die omwille van haar privacy anoniem wil blijven meld dat dit te maken heeft met weerzinwekkende staat waarin de zwerver verkeerd; “Hij stink een uur in de wind en ze zeggen dat ‘ie heel onvoorspelbaar is, een hopeloos geval. Mij niet gezien!”.</p>
						</div>
					</div>
					<div class="l-row">
						<div class="l-col-12">
							<h4>Een wonder</h4>
						</div>
					</div>
					<div class="l-row">
						<div class="l-col-12">
							<p>Toen de zwerver volgens eigen zeggen opnieuw in de Maas dreigde te vallen werd hij nog net op tijd aan wal gehouden door een onbekende hand; “Ik viel bijna weer tot ik net op tijd door iemand aan de kant getrokken werd, ik wist eerst niet wie het was want ik zag niets. En toen opeens kon ik weer zien. Ene <span id="m-merovinger__playername"></span> vertelde me daarna dat het ene Sint Servaas was en ik door hem weer kon zien, wat een wonder!”</p>
						</div>
					</div>
					<div class="l-row">
						<div class="l-col-12">
							<h4>Wie is Sint Servaas?</h4>
						</div>
					</div>
					<div class="l-row">
						<div class="l-col-12">
							<p>De Sint Servaas waarover de zwerver rept en hem ogenschijnlijk op wonderbaarlijke wijze gered heeft lijkt bisschop Servaas van Tongeren te zijn. Het is een namelijk een publiek geheim dat koning Clovis hem op termijn in Maastricht wil stationeren om het Christendom verder te verspreiden over zijn rijk. Zou hij al in Maastricht zijn en beschikt deze bisschop over wonderbaarlijke krachten? Als het zo is zullen we daar vast nog meer van horen.</p>
						</div>
					</div>

				</div>
			</div>
		</main>

		<footer class="m-merovinger__footer" id="l-footer">
			<div class="l-row">
				<div class="l-col-12">
					<img class="m-merovinger__footer" src="/img/merovinger-logo.svg" />
				</div>
			</div>
		</footer>

	</div>
</body>

</html>
