<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Base Project</title>
	<meta name="description" content="Description of the page less than 150 characters">
	<link rel="dns-prefetch" href="//use.fontawesome.com/">
	<script async src="../js/vendors/modernizr-custom.js"></script>
	<script async src="../js/vendors/detectizr.min.js"></script>
	<script async defer src="https://use.fontawesome.com/releases/v5.0.2/js/all.js"></script>

	<!--GO TO https://realfavicongenerator.net/ TO GENERATE THE FAVICON FILES-->
	<link rel="apple-touch-icon" sizes="57x57" href="../img/favicons/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="../img/favicons/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="../img/favicons/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="../img/favicons/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="../img/favicons/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="../img/favicons/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="../img/favicons/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="../img/favicons/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192" href="../img/favicons/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="../img/favicons/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="../img/favicons/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="../img/favicons/favicon-16x16.png">
	<link rel="manifest" href="../img/favicons/manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="../img/favicons/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">
</head>

<body class="merovinger">
	<div class="m-merovinger__bg"></div>
	<div id="l-wrapper">

		<header id="l-header" role="banner">
			<div class="l-container">
				<a href="/info/index.html">
					<div class="o-logo o-logo--img"></div>
					<span class="sr-only">Merovinger</span>
				</a>
				<nav id="home" class="m-navigation">
					<button class="o-hamburger o-hamburger--squeeze m-navigation__toggle float-right" type="button" aria-label="Toggle main navigation"
					aria-expanded="false">
						<span class="o-hamburger-box">
							<span class="o-hamburger-inner" />
						</span>
					</button>
					<ul class="m-navigation__list">
						<li class="m-navigation__item">
							<a href="#home">Home</a>
						</li>
						<li class="m-navigation__item">
							<a href="#game">Game</a>
						</li>
						<li class="m-navigation__item">
							<a href="#merovingen">Merovingen</a>
						</li>
					</ul>
				</nav>
			</div>
		</header>

		<main id="l-content">
			<div class="l-container">
				<div class="m-merovinger">
					<div class="l-row">
						<div class="l-col-12">
							<h2 id="game">Maastricht bloeit op dankzij st. Servaas</h2>
						</div>
					</div>
					<div class="l-row">
						<div class="l-col-12">
							<p><strong>MAASTRICHT – Ondanks dat het alles behalve de insteek was, zorgde de bijeenkomst die werd georganiseerd door Tjeu Das ervoor dat de Maastrichtenaren eens te meer heilig in Sint Servaas geloven. Zijn wonderen hebben bij hen een diepe indruk achter gelaten. Tjeu Das, die niet wilde toegeven dat zijn beschuldigingen naar de kerk toe fout waren, is verbannen uit Maastricht. Zijn aanhangers hebben zich solidair verklaard en zijn in zijn kielzog de stad uit getrokken.</strong></p>
						</div>
					</div>
					<div class="l-row">
						<div class="l-col-12">
							<h4>Tjeu Das verbannen</h4>
						</div>
					</div>
					<div class="l-row">
						<div class="l-col-12">
							<p>De poging van Tjeu Das om de wonderen van Sint Servaas te ontkrachten liep uiteindelijk op niets uit. Tjeu Das probeerde het Christendom uit Maastricht te weren, maar had hierbij geen succes. Dit blijkt nu er steeds meer mensen zijn die door het relaas van Das juist geïnformeerd raakten over het leven van Sint Servaas en de wonderen die hij verrichtte in en voor de stad. In plaats van zelf aanhangers te werven, verschaftte Tjeu Das deze juist aan Sint Servaas. Vanwege zijn valse beschuldigingen aan het adres van de Christelijke kerk en Sint Servaas, het publiekelijk kwaad spreken en haat zaaien over de rug van hen én het plegen van diefstal is er besloten dat Das voor eens en altijd verbannen zal worden uit Maastricht en het gehele Merovingische rijk van koning Clovis. Dat Tjeu Das met deze straf goed weggekomen is blijkt wel uit de publieke opinie die graag gezien had dat Das de stad niet eens meer had kunnen verlaten.</p>
						</div>
					</div>
					<div class="l-row">
						<div class="l-col-12">
							<h4>Mini-volksverhuizing</h4>
						</div>
					</div>
					<div class="l-row">
						<div class="l-col-12">
							<p>Daags na de veelbesproken afgang en verbanning van Tjeu Das verliet een bepakte en bezakte stoet in alle vroegte Maastricht. Volgens een nieuwgierige bakker, die het tafereel had gadegeslagen toen hij al vroeg in de morgen zijn bakkerij binnentrad, waren de reizigers aanhangers van de verbannen Tjeu Das. Hoewel de stoet niet bijster veel hoofden telde is het desalniettemin zeer verrassent dat zij zich solidair verklaren aan hun beschimpte leider. Doordat zij voor dag en douw de stad al verlieten heeft het er echter wel alle schijn van dat zij zich schamen tegenover hun stadsgenoten en daarom ongezien de stad uit zijn getrokken. Het wegsturen van Tjeu Das heeft dus niet alleen invloed op zijn eigen leven; ook in Maastricht zal men dit merken.</p>
						</div>
					</div>
					<div class="l-row">
						<div class="l-col-12">
							<h4>Sint Servaas vereeuwigd</h4>
						</div>
					</div>
					<div class="l-row">
						<div class="l-col-12">
							<p>Dat Sint Servaas eens te meer zeer geliefd is in Maastricht blijkt wel uit de vele stemmen die na zijn dood opgingen om hem te eren. Inmiddels zijn deze plannen officieel vastgelegd en zullen onder andere verscheidene bouwwerken binnen afzienbare tijd zijn naam dragen. Om Sint Servaas te vereeuwigen en hem voor altijd deel uit te laten maken van Maastricht gaan de kerk op het Vrijthof en de brug over de Maas zijn naam dragen. Ook zal er in zijn naam ieder jaar een bedevaart worden gehouden en zijn er plannen om een stroming binnen de kerk, ook wel kapittel genoemd, naar hem te vernoemen. Tevens is Sint Servaas officieel bij name van de Paus te Rome tot heilige verklaard welke hem nu ook officieel de titel ‘Sint’ geeft. De stad heeft Sint Servaas hierop tevens tot beschermheilige van Maastricht vernoemd. Dit alles zal er voor zorgen dat Sint Servaas zelfs na zijn dood nimmer zal worden vergeten en blijft helpen en inspireren.</p>
						</div>
					</div>
					<div class="l-row">
						<div class="l-col-12">
							<h4>Maastricht groeit en bloeit</h4>
						</div>
					</div>
					<div class="l-row">
						<div class="l-col-12">
							<p>Of de rust na de afgang van Tjeu Das snel zal wederkeren in Maastricht valt nog te bezien. Zo bezochten al hordes toeristen de stad toen Sint Servaas bij leven nog wonderen verrichten. Inmiddels is dit echter nog niet afgenomen, in tegenstelling juist, want de stad trekt door zijn heilige meer bezoekers dan ooit tevoren. Zo merkt ook ijzersmid Frederik Smidsch; “Aan klanten had ik nimmer een gebrek, maar sinds Sint Servaas is het echt gekkenwerk. Alle reizigers te paard laten hier nieuwe hoefijzers beslaan voor hun paarden! Ik denk erover na uit te breiden, al zal ik dan wel nog minder tijd over hebben voor mijn andere passie muziek!”.</p>
						</div>
					</div>
					<div class="l-row">
						<div class="l-col-12">
							<p>Ook de rest van de stad ziet de toekomst met vertrouwen tegemoet. “Met alle extra inkomsten kunnen we de Sint Servaas kerk flink uitbreiden om de toeristen tegemoet te komen en we gaan ook scholen?? Geleerden?? Naar de stad halen.</p>
						</div>
					</div>
					<div class="l-row">
						<div class="l-col-12">
							<p>Ook heeft de stad er dankzij de bekendheid van Servaas een aantal nieuwe bezoekers bij gekregen die de heilige en zijn stad graag willen bezoeken. Daar profiteren de winkels in Maastricht natuurlijk ook van. Frederik Smidsch, smid uit Maastricht, wist te vertellen dat de zaken in zijn winkel beter lopen dan ooit. “Al die reizigers komen met hun paarden, en de hoeven van de paarden moeten na een lange reis natuurlijk verzorgd worden. Laat ik daar nu net goed in zijn!”.</p>
						</div>
					</div>

				</div>
			</div>
		</main>

		<footer class="m-merovinger__footer" id="l-footer">
			<div class="l-row">
				<div class="l-col-12">
					<img class="m-merovinger__footer" src="/img/merovinger-logo.svg" />
				</div>
			</div>
		</footer>

	</div>
</body>

</html>
