<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Base Project</title>
	<meta name="description" content="Description of the page less than 150 characters">
	<link rel="dns-prefetch" href="//use.fontawesome.com/">
	<script async src="../js/vendors/modernizr-custom.js"></script>
	<script async src="../js/vendors/detectizr.min.js"></script>
	<script async defer src="https://use.fontawesome.com/releases/v5.0.2/js/all.js"></script>

	<!--GO TO https://realfavicongenerator.net/ TO GENERATE THE FAVICON FILES-->
	<link rel="apple-touch-icon" sizes="57x57" href="../img/favicons/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="../img/favicons/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="../img/favicons/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="../img/favicons/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="../img/favicons/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="../img/favicons/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="../img/favicons/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="../img/favicons/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192" href="../img/favicons/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="../img/favicons/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="../img/favicons/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="../img/favicons/favicon-16x16.png">
	<link rel="manifest" href="../img/favicons/manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="../img/favicons/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">
</head>

<body class="merovinger">

	<div id="o-notification" class="o-notification">
		<a id="o-notification__link" href="#">
			<div class="l-container">
				<div class="l-row">
					<div class="l-col-12">
						<img id="o-notification__app" width="20px" height="20px;" />
						<span id="o-notification__apptext"></span>
					</div>
				</div>
				<div class="l-row">
					<div class="l-col-12">
						<strong id="o-notification__from"></strong>
					</div>
				</div>
				<div class="l-row">
					<div class="l-col-12">
						<p id="o-notification__text"></p>
					</div>
				</div>
			</div>
		</a>
	</div>

	<div class="m-merovinger__bg"></div>
	<div id="l-wrapper">

		<header id="l-header" role="banner">
			<div class="l-container">
				<a href="/info/index.html">
					<div class="o-logo o-logo--img"></div>
					<span class="sr-only">Merovinger</span>
				</a>
				<nav id="home" class="m-navigation">
					<button class="o-hamburger o-hamburger--squeeze m-navigation__toggle float-right" type="button" aria-label="Toggle main navigation"
					aria-expanded="false">
						<span class="o-hamburger-box">
							<span class="o-hamburger-inner" />
						</span>
					</button>
					<ul class="m-navigation__list">
						<li class="m-navigation__item">
							<a href="#home">Home</a>
						</li>
						<li class="m-navigation__item">
							<a href="#game">Game</a>
						</li>
						<li class="m-navigation__item">
							<a href="#merovingen">Merovingen</a>
						</li>
					</ul>
				</nav>
			</div>
		</header>

		<main id="l-content">
			<div class="l-container">
				<div class="m-merovinger">
					<div class="l-row">
						<div class="l-col-12">
							<h2 id="game">St. Servaas geeft zijn leven voor de stad; kapel sleutel vermist</h2>
						</div>
					</div>
					<div class="l-row">
						<div class="l-col-12">
							<p><strong>MAASTRICHT – Maastricht is in rep en roer omdat vannacht ogenschijnlijk de duivel is verschenen bij de kerk aan het Vrijthof. De duivel had het gemunt op de recent afgebouwde Christelijke kerk welke hij weer met de grond gelijk leek te willen maken. De weerloze kerk, en daarmee tevens de slapende stad werd dit leed echter bespaard door een heldendaad van Sint Servaas die dit met zijn leven heeft moeten bekopen.</strong></p>
						</div>
					</div>
					<div class="l-row">
						<div class="l-col-12">
							<p>Sint Servaas, waarover wij al eens berichten, verrichten eerder een wonder door een zwerver te redden van het ijskoude Maaswater én hem ook nog eens opnieuw liet zien. Dat Sint Servaas nu zelfs de kerk en stad heeft gered uit handen van de duivel is volgens vele hét bewijs dat hij ook daadwerkelijk bestaat. Deze heldendaad heeft hij echter wel met zijn leven moeten bekopen.</p>
						</div>
					</div>
					<div class="l-row">
						<div class="l-col-12">
							<h4>Een wonder</h4>
						</div>
					</div>
					<div class="l-row">
						<div class="l-col-12">
							<p>Hoe Sint Servaas de duivel heeft verdreven en waarom deze het in de eerste plaats al op de kerk gemunt had is niet geheel bekent. Bronnen uit de kerk verklaren echter dat dit komt door de toenemende welvaart die gepaard gaat met het groeiende Christendom. “Sinds het Christendom steeds groter word en de mensen en hun welvaart er daardoor op vooruit gaat heeft de Duivel steeds minder vat op de mensen wiens geloof hen nu beschermd. De duivel heeft uit wanhoop al zijn laatste krachten verzameld om ons almachtig geloof de kop in te drukken en dankzij Sint Servaas is hem dat niet gelukt!” zo laat pater Wycks weten.</p>
						</div>
					</div>
					<div class="l-row">
						<div class="l-col-12">
							<h4>Hels kabaal</h4>
						</div>
					</div>
					<div class="l-row">
						<div class="l-col-12">
							<p>Omwonende van het Vrijthof verklaarde een hels kabaal te hebben gehoord vannacht. Eerder maakte zij al melding van nachtelijk lawaai dat afkomstig bleek te zijn van de vele toeristen die Maastricht bezoeken sinds het verrichte wonder door Sint Servaas. Ondanks dat de omwonende ervan overtuigd zijn dat het lawaai vannacht de aanval op de kerk moet zijn geweest verklaren zij wel dat het lawaai erg veel weg had van het eerdere lawaai.</p>
						</div>
					</div>
					<div class="l-row">
						<div class="l-col-12">
							<h4>Nieuwe kerk</h4>
						</div>
					</div>
					<div class="l-row">
						<div class="l-col-12">
							<p>De kerk aan het Vrijthof, die het doelwit van de aanval vormde, is pas recentelijk afgebouwd en verkeerd dus nog in nieuwstaat. Dat dit symbool voor het opkomende Christendom rond dezelfde periode afgebouwd is als de komst van Sint Servaas lijkt een wonderlijk toeval en is een topattractie gebleken voor de toenemende stroom toeristen naar de stad. Dat notabene deze kerk aan het Vrijthof het strijdtoneel van de aanval door de Duivel is geweest zal het toerisme in de stad nog verder doen toenemen.</p>
						</div>
					</div>
					<div class="l-row">
						<div class="l-col-12">
							<h4>Sleutel en stoffelijk overschot vermist</h4>
						</div>
					</div>
					<div class="l-row">
						<div class="l-col-12 l-col-md-6">
							<p>Ondanks dat de aanval voor de nodige commotie en onrust zorgt in de stad valt er aan en nabij de kerk nauwelijks iets af te lezen van wat zich afgelopen nacht heeft afgespeeld. Ook blijkt het stoffelijk overschot van Sint Servaas niet gevonden te zijn. Echter zijn wel zijn kleding en aanverwanten aangetroffen zo bevestigd de kerk. Deze lagen voor de ingang van de kapel die zich in de kerk bevindt en waren zo geposteerd dat het leek alsof ze gedragen werden door een lichaam. Buiten het zicht van het publiek blijkt daarnaast dat ook de sleutel van de kapel vermist is geraakt. Deze sleutel is droeg Sint Servaas volgens de kerk altijd bij zich en is daardoor van grote waarde.</p>
						</div>
						<div class="l-col-12 l-col-md-6">
							<img class="m-reset-y" src="/img/merovinger/sint-servaas-sleutel.jpg" />
							<p><i>Beeld van sleutel Sint Servaas</i></p>
						</div>
					</div>
					<div class="l-row">
						<div class="l-col-12">
							<h4>Heilige Sint Servaas?</h4>
						</div>
					</div>
					<div class="l-row">
						<div class="l-col-12">
							<p>Nu Sint Servaas zijn heldendaad met de dood heeft moeten bekopen om de kerk en stad te redden rijzen er overal in de stad vragen op over de manier waarop de stad zijn dankbaarheid kan tonen jegens Sint Servaas. De voornaamste opties die de revue passeren zijn naamsveranderingen. Zo wordt er geopperd om de brug zijn naam te geven en ook om de recentelijk afgebouwde kerk op het Vrijthof te vernoemen naar Sint Servaas. Tenslotte wil men hem officieel de titel van heilige geven en het verzoek hiervoor schijnt al onderweg te zijn naar de paus in Rome. Als het verzoek daadwerkelijk wordt goedgekeurd dan betekend dit dat de al in de volksmond genoemde titel ‘Sint’ ook officieel voor zijn naam komt te staan.</p>
						</div>
					</div>	

				</div>
			</div>
		</main>

		<footer class="m-merovinger__footer" id="l-footer">
			<div class="l-row">
				<div class="l-col-12">
					<img class="m-merovinger__footer" src="/img/merovinger-logo.svg" />
				</div>
			</div>
		</footer>

	</div>
</body>

</html>
