<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Base Project</title>
	<meta name="description" content="Description of the page less than 150 characters">
	<link rel="dns-prefetch" href="//use.fontawesome.com/">
	<script async src="../js/vendors/modernizr-custom.js"></script>
	<script async src="../js/vendors/detectizr.min.js"></script>
	<script async defer src="https://use.fontawesome.com/releases/v5.0.2/js/all.js"></script>

	<!--GO TO https://realfavicongenerator.net/ TO GENERATE THE FAVICON FILES-->
	<link rel="apple-touch-icon" sizes="57x57" href="../img/favicons/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="../img/favicons/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="../img/favicons/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="../img/favicons/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="../img/favicons/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="../img/favicons/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="../img/favicons/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="../img/favicons/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192" href="../img/favicons/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="../img/favicons/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="../img/favicons/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="../img/favicons/favicon-16x16.png">
	<link rel="manifest" href="../img/favicons/manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="../img/favicons/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">
</head>

<body class="merovinger">

	<div id="o-notification" class="o-notification">
		<a id="o-notification__link" href="#">
			<div class="l-container">
				<div class="l-row">
					<div class="l-col-12">
						<img id="o-notification__app" width="20px" height="20px;" />
						<span id="o-notification__apptext"></span>
					</div>
				</div>
				<div class="l-row">
					<div class="l-col-12">
						<strong id="o-notification__from"></strong>
					</div>
				</div>
				<div class="l-row">
					<div class="l-col-12">
						<p id="o-notification__text"></p>
					</div>
				</div>
			</div>
		</a>
	</div>

	<div class="m-merovinger__bg"></div>
	<div id="l-wrapper">

		<header id="l-header" role="banner">
			<div class="l-container">
				<a href="/info/index.html">
					<div class="o-logo o-logo--img"></div>
					<span class="sr-only">Merovinger</span>
				</a>
				<nav id="home" class="m-navigation">
					<button class="o-hamburger o-hamburger--squeeze m-navigation__toggle float-right" type="button" aria-label="Toggle main navigation"
					aria-expanded="false">
						<span class="o-hamburger-box">
							<span class="o-hamburger-inner" />
						</span>
					</button>
					<ul class="m-navigation__list">
						<li class="m-navigation__item">
							<a href="#home">Home</a>
						</li>
						<li class="m-navigation__item">
							<a href="#game">Game</a>
						</li>
						<li class="m-navigation__item">
							<a href="#merovingen">Merovingen</a>
						</li>
					</ul>
				</nav>
			</div>
		</header>

		<main id="l-content">
			<div class="l-container">
				<div class="m-merovinger">
					<div class="l-row">
						<div class="l-col-12">
							<h2 id="game">Sint Servaas producten zorgen voor wonder bij de brug</h2>
						</div>
					</div>
					<div class="l-row">
						<div class="l-col-12">
							<p><strong>MAASTRICHT – Sint Servaas mag dan wel zijn leven hebben gegeven voor de stad, nog steeds heeft zijn nalatenschap invloed op de levens van de Maastrichtenaren. Zo werd gekke Geis, zoals de dorpsgek in de volksmond wordt genoemd, uit onverwachtse hoek geholpen nadat hij al enkele dagen doelloos door de stad zwalkte.</strong></p>
						</div>
					</div>
					<div class="l-row">
						<div class="l-col-12">
							<p>Sint Servaas, die in levende lijven al wonderen verrichten, liet onlangs het leven bij een aanval van de Duivel op de kerk aan het Vrijthof. Toch is zijn invloed nog immer en nalatenschap nog immens afgaande op zijn laatste wonder.</p>
						</div>
					</div>
					<div class="l-row">
						<div class="l-col-12">
							<h4>Een wonder</h4>
						</div>
					</div>
					<div class="l-row">
						<div class="l-col-12">
							<p>Gekke Geis, zoals Geisbert Micheels in de volksmond bekent staat, zwalkte volgens ooggetuige al dagen door de straten van de stad. “Gekke Geis zwalkt wel vaker door de stad, maar zo lang aan één stuk heb ik hem dat nog nooit zien doen!” zo zegt Marie Wawwele. Wat tevens anders was dan normaal was dat Gekke Geis uiteindelijk richting de brug zwalkte, terwijl hij normaliter enkel rondom het Vrijthof dwaalde. Bij de brug kreeg hij uiteindelijk van een onbekende door Sint Servaas gezegende producten die hem op wonderbaarlijke wijze weer helemaal bij zinnen maakte. Zo verricht Sint Servaas dus zelfs na zijn dood nog wonderen.</p>
						</div>
					</div>
					<div class="l-row">
						<div class="l-col-12">
							<h4>Zwalkende Gekke Geis</h4>
						</div>
					</div>
					<div class="l-row">
						<div class="l-col-12">
							<p>Dat Gekke Geis geen onbekende is in de stad is kwam al naar voren uit de getuigenis van Marie Wawwele. Geisbert Micheels, zoon van een rijke handelaar, heeft aan rijkdom geen gebrek. Hoe Gekke Geis dan alsnog regelmatig in een dergelijke staat verkeerd is dan ook een raadsel. Anonieme bronnen beweren dat Gekke Geis kind aan huis is bij de herbergen rondom het Vrijthof en dat hij daar zijn vaders geld spendeert aan bier, wijn en absint. Klaarblijkelijk weet hij daar in de anonimiteit te blijven en zijn rijke afkomst te verhullen.</p>
						</div>
					</div>
					<div class="l-row">
						<div class="l-col-12">
							<h4>Locatie geen toeval</h4>
						</div>
					</div>
					<div class="l-row">
						<div class="l-col-12">
							<p>Dat notabene de brug de locatie is waarop het voorval heeft plaatsgevonden lijkt niet op toeval te berusten. Gekke Geis zwalkte zogezegd al dagen door de straten van de stad voor hij uiteindelijk op de brug terechtkwam en door de gezegende producten op wonderbaarlijke wijze weer bij zinnen kwam. Het is dan ook net die brug die de Maastrichtenaren willen vernoemen naar de redder van hun stad om hem te eren. Dat het hele voorval hier plaatsvond kan dan ook gezien worden als een teken van goedkeuring van Sint Servaas.</p>
						</div>
					</div>

				</div>
			</div>
		</main>

		<footer class="m-merovinger__footer" id="l-footer">
			<div class="l-row">
				<div class="l-col-12">
					<img class="m-merovinger__footer" src="/img/merovinger-logo.svg" />
				</div>
			</div>
		</footer>

	</div>
</body>

</html>
