<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Base Project</title>
	<meta name="description" content="Description of the page less than 150 characters">
	<link rel="dns-prefetch" href="//use.fontawesome.com/">
	<script async src="../js/vendors/modernizr-custom.js"></script>
	<script async src="../js/vendors/detectizr.min.js"></script>
	<script async defer src="https://use.fontawesome.com/releases/v5.0.2/js/all.js"></script>

	<!--GO TO https://realfavicongenerator.net/ TO GENERATE THE FAVICON FILES-->
	<link rel="apple-touch-icon" sizes="57x57" href="../img/favicons/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="../img/favicons/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="../img/favicons/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="../img/favicons/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="../img/favicons/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="../img/favicons/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="../img/favicons/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="../img/favicons/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192" href="../img/favicons/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="../img/favicons/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="../img/favicons/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="../img/favicons/favicon-16x16.png">
	<link rel="manifest" href="../img/favicons/manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="../img/favicons/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">
</head>

<body class="merovinger">

	<div id="o-notification" class="o-notification">
		<a id="o-notification__link" href="#">
			<div class="l-container">
				<div class="l-row">
					<div class="l-col-12">
						<img id="o-notification__app" width="20px" height="20px;" />
						<span id="o-notification__apptext"></span>
					</div>
				</div>
				<div class="l-row">
					<div class="l-col-12">
						<strong id="o-notification__from"></strong>
					</div>
				</div>
				<div class="l-row">
					<div class="l-col-12">
						<p id="o-notification__text"></p>
					</div>
				</div>
			</div>
		</a>
	</div>

	<div class="m-merovinger__bg"></div>
	<div id="l-wrapper">

		<header id="l-header" role="banner">
			<div class="l-container">
				<a href="/info/index.html">
					<div class="o-logo o-logo--img"></div>
					<span class="sr-only">Merovinger</span>
				</a>
				<nav id="home" class="m-navigation">
					<button class="o-hamburger o-hamburger--squeeze m-navigation__toggle float-right" type="button" aria-label="Toggle main navigation"
					aria-expanded="false">
						<span class="o-hamburger-box">
							<span class="o-hamburger-inner" />
						</span>
					</button>
					<ul class="m-navigation__list">
						<li class="m-navigation__item">
							<a href="#home">Home</a>
						</li>
						<li class="m-navigation__item">
							<a href="#game">Game</a>
						</li>
						<li class="m-navigation__item">
							<a href="#merovingen">Merovingen</a>
						</li>
					</ul>
				</nav>
			</div>
		</header>

		<main id="l-content">
			<div class="l-container">
				<div class="m-merovinger">
					<div class="l-row">
						<div class="l-col-12">
							<h2 id="game">Tjeu Das blijkt Judas, sleutel weer terecht</h2>
						</div>
					</div>
					<div class="l-row">
						<div class="l-col-12">
							<p><strong>MAASTRICHT – Bij een bijeenkomst, georganiseerd door Tjeu Das, is de vermiste sleutel van Sint Servaas opgedoken. De aanwezige burgers, die in grote getalen zijn komen opdagen bij de uitkijktoren aan de Maas, waren getuigen van een schouwspel dat niemand van tevoren had kunnen bedenken. Tjeu Das viel terplekke door de mand met zijn relaas en beschuldigingen aan het adres van Sint Servaas.</strong></p>
						</div>
					</div>
					<div class="l-row">
						<div class="l-col-12">
							<p>Waar de bijeenkomst bij de uitkijktoren in eerste instantie enkel zou bestaan uit het relaas van Tjeu Das tegen Sint Servaas, ontaarde dat al spoedig in een rel die zijn weerga niet kent.</p>
						</div>
					</div>
					<div class="l-row">
						<div class="l-col-12">
							<h4>Relaas</h4>
						</div>
					</div>
					<div class="l-row">
						<div class="l-col-12">
							<p>Dat Tjeu Das een uitgesproken - zo niet de meest uitgesproken – ontkenner van het bestaan van Sint Servaas is, is algemeen bekent. Dat hij hierin niet alleen is leek de grote opkomst bij de bijeenkomst wel te bewijzen. Het merendeel zal echter in eerste instantie gegaan zijn om de spot met Tjeu Das te kunnen drijven en hem voor gek te verklaren. En zo geschiedde want Tjeu Das viel compleet door de mand toen zijn relaas afstak.</p>
						</div>
					</div>
					<div class="l-row">
						<div class="l-col-12">
							<h4>Wonderen</h4>
						</div>
					</div>
					<div class="l-row">
						<div class="l-col-12">
							<p>Op de bijeenkomst die Tjeu Das georganiseerd had wilde hij zoals gezegd zijn relaas doen over Sint Servaas die volgens hem nooit bestaan heeft. Zo haalde hij in zijn relaas de ogenschijnlijke wonderen die Sint Servaas verricht zou hebben aan om deze vervolgens zonder succes te ontkrachten. Zo stelde hij dat iedereen de wonderen had kunnen verrichten. Als dat echter waar was hadden de geholpene zichzelf ook kunnen helpen en dat hebben en konden zij én andere klaarblijkelijk niet voor niets niet. Daarnaast ontkrachten Tjeu Das ook het wonder bij de kerk op het Vrijthof waarbij Sint Servaas zijn leven gaf voor de stad. Zo zou dit volgens Das nooit hebben plaatsgevonden omdat er niets te zien was aan de kerk. Dit is echter logisch omdat Sint Servaas de kerk hier juist voor heeft verwoed. Daarbij hebben omwonende ook nog eens aangegeven een luid kabaal te hebben gehoord ten tijde van de aanval.</p>
						</div>
					</div>
					<div class="l-row">
						<div class="l-col-12">
							<h4>Sleutel</h4>
						</div>
					</div>
					<div class="l-row">
						<div class="l-col-12">
							<p>Eerder berichten we al over de vermissing van de sleutel van Sint Servaas. Deze zou toegang verschaffen tot de kapel in de kerk aan het Vrijthof en altijd door Sint Servaas zijn meegedragen. Dat deze sleutel een rol zou spelen bij de bijeenkomst was op voorhand niet te zeggen, en ook in het daadwerkelijke relaas van Tjeu Das kwam de sleutel in eerste instantie niet aan bod. Dat veranderde echter toen Tjeu Das vanuit het publiek geconfronteerd werd met de sleutel die volgens hen in de mantel van Tjeu stak. Tjeu Das liet hierop, enigszins onder druk en beduusd, de zakken van zijn mantel zien waaruit ook daadwerkelijk de sleutel van Sint Servaas viel. Het publiek reageerde hierop geschokt en herkende de sleutel vrijwel direct als de sleutel van Sint Servaas. Tjeu Das probeerde zich nog te verdedigen maar had weinig kans tegen de inmiddels ziedende menigte.</p>
						</div>
					</div>
					<div class="l-row">
						<div class="l-col-12">
							<h4>Voor eigen gewin</h4>
						</div>
					</div>
					<div class="l-row">
						<div class="l-col-12">
							<p>Dat Tjeu Das niet enkel handelde uit zijn eigen overtuigingen is inmiddels wel duidelijk. Naast de kerk en Sint Servaas ten onrechte te beschuldigen van het creëren van wonderen, oplichterij en bedrog stal hij de sleutel van Sint Servaas. Ook plaatste Tjeu Das met regelmaat berichten over Sint Servaas op social media waarmee hij haat en verdeeldheid zaaide, werd de media vals ingelicht en verkocht Das zelfs anti-Sint Servaas merchandise zoals kleding om een slaatje te slaan uit zijn eigen bedrog.</p>
						</div>
					</div>
					<div class="l-row">
						<div class="l-col-12">
							<h4>Van ketter tot Judas en duivelsgebroed</h4>
						</div>
					</div>
					<div class="l-row">
						<div class="l-col-12">
							<p>Waar Tjeu Das in eerste instantie nog enkel als een ketter en pessimist werd bestempeld, is hij inmiddels uitgegroeid tot een ware Judas. Tjeu Das werd voorheen al met de nek aangekeken omdat hij zich zeer sceptisch uitliet over Sint Servaas. Ook was hij altijd al een fel tegenstander van een staatsgodsdienst zoals het Christendom dat nu is. Doordat hij de Maastrichtse Christelijke kerk echter nu zelfs ten onrechte beschuldigde van oplichting, bedrog én ook nog eens de sleutel van Sint Servaas ogenschijnlijk gestolen heeft wordt hij gezien als Judas en zelfs duivelsgebroed. Welke gevolgen zijn daden voor hem zullen hebben is voorlopig nog niet bekent, maar er wordt in de stad gesproken van een straf die allesbehalve mild zal zijn.</p>
						</div>
					</div>

				</div>
			</div>
		</main>

		<footer class="m-merovinger__footer" id="l-footer">
			<div class="l-row">
				<div class="l-col-12">
					<img class="m-merovinger__footer" src="/img/merovinger-logo.svg" />
				</div>
			</div>
		</footer>

	</div>
</body>

</html>
