@charset "UTF-8";

/* =============================================================================
CONFIG
============================================================================= */

$module-name: 'copyright';

/* =============================================================================
BASE
============================================================================= */

.m-#{$module-name} {
    transform: rotate(90deg);
    color: map-get($colors, primary);
    position: absolute;
    top: 50%;
    bottom: 50%;
    display: none;

    @media (min-width: breakpoint-min(lg)) {
        display: block;
        left: -85px;
    }

    @media (min-width: breakpoint-min(xl)) {
        left: -100px;
    }

}