@charset "UTF-8";

/* =============================================================================
CONFIG
============================================================================= */

$module-name: 'header';

/* =============================================================================
BASE
============================================================================= */

.m-#{$module-name} {
	position: relative;
	z-index: 1;
	height: 90px;
	background: transparent;

	.o-logo {
		position: absolute;
		bottom: 0;
	}

	button {
		margin-top: 15px;
		color: map-get($colors, primary)!important;
	}

}
